
<style>
#button11,#button2,#button222,#button33,#button111,#button02,#button0222,#button033{
  border:none;
  background-color: transparent;
  color:#595959;
  font-size: 25px;
}
#button11:hover,#button2:hover,#button222:hover,#button33:hover,#button111:hover,#button02:hover,#button0222:hover,#button033:hover{
  color:#f8ba00;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#button-apply:hover{
  background-color:#f8ba00;
  border:#f8ba00;
}
#add_file{
  height: 130px;
  width: 190px;
  -o-object-fit: contain;
  margin-right:10px;
}
#add_file:hover{
  cursor:pointer;
}
@media(max-width: 576px) {
  td {
    display: table-row;
  }
  #myModal{
    width:95%;
    padding-left:1%;
  }
}
@media(max-width: 768px) {
  td {
    display: table-row;
  }
  #myModal{
  }
}

</style>

  <script type="text/javascript">
    function calculate() {

    var USERINPUT1 = document.TESTING.INPUT1.value;
    var USERINPUT3 = document.TESTING.INPUT3.value;
    var USERINPUT4 = document.TESTING.INPUT4.value;
    var USERINPUT5 = document.TESTING.INPUT5.value;
    var USERINPUT6 = document.TESTING.INPUT6.value;
    var USERINPUT7 = document.TESTING.INPUT7.value;


    var CALC1 = +USERINPUT1+ +USERINPUT3+ +USERINPUT4+ +USERINPUT5+ +USERINPUT6+ +USERINPUT7;
    var CALC2 = CALC1.toFixed(2);
    document.TESTING.OUTPUT1.value = CALC2;
    }

    function myAlert(){
      alert("I am an alert box!");
    }
  </script>

<!-- /form calculation script -->

<!-- The Modal -->
<form name="TESTING" action="/action_page.php" target="_blank" method="POST">
  <div class="input-group" >

    <div class="modal fade" id="myModal" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

    <!-- Modal Header -->
      <div class="modal-header text-center" >
        <h3 class="col-12 modal-title text-cente"><b>업무 지원 하기</b>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button></h3> -->
        <a class="close1" data-dismiss="modal" ></a></h3>
      </div>


    <!-- Modal body -->


      <div class="modal-body text-left">

        <div><b>지원 메세지를 작성 해주세요.</b></div>
        <div style="height:14px;"></div>
        <textarea id="subject" name="subject" placeholder="클라이언트님께 업무 관련해서 지원 메세지를 적어주세요." style="height:200px;width:90%"></textarea>
        <div style="height:17px;"></div>

        <!-- 첨부파일 추가(추가 할 파일이 없으면 '파일이 없습니다'' 문구나타내기) -->

        <!-- <form action="/action_page.php">
          <input type="file" name="pic" accept="image/*">
          <input type="submit">
        </form> -->

              <div id="dataTable44" style="display:none;">
                <div class="container">
                  <div class="sectionContent">
                    <div class="row text-center">
                      <img type="image" onclick="myAlert()" name="imgbtn"  id="add_file" src="/static/images/request-service-estimate/4.castagency.jpg" class="center">
                      <img type="image" onclick="myAlert()" name="imgbtn"  id="add_file" src="/static/images/request-service-estimate/4.castagency.jpg" class="center">
                      <img type="image" onclick="myAlert()" name="imgbtn"  id="add_file" src="/static/images/request-service-estimate/4.castagency.jpg" class="center">
                 <div style="height:17px;"></div>
                 </div>
                </div>
              </div>
            </div>

              <div id="dataTable55" style="display:none;color:red;">
                <div style="height:17px;"></div>
                 * 첨부하실 파일이 없습니다! 파트너 프로필에서 파일을 추가 해주세요.
                </div>

    <div id="dataTable66" style="display:none;">
                <TABLE  border="0" >
                  <TR>
                     <td id="extra">
                       <select>
                         <option selected>첨부파일을 선택 해주세요.</option>
                         <option value="upload3-1">첨부파일1</option>
                         <option value="upload3-2">첨부파일2</option>
                         <option value="upload3-3">첨부파일3</option>
                       </select>
                       <a1></a1>
                     </td>

                  </TR>
               </table>
               <div style="height:17px;"></div>
               </div>



                   <div >


                   <input id="button02" type="button"
                   onclick="document.getElementById('dataTable44').style.display='inline';
                            document.getElementById('button02').style.display='none';
                            document.getElementById('button0222').style.display='inline';"
                            value="+" style="display:inline;width:30px;"/>

                   <input id="button0222" type="button"
                   onclick="document.getElementById('dataTable55').style.display='inline';
                   document.getElementById('button0222').style.display='none';
                   document.getElementById('button033').style.display='inline';"
                   value="+" style="display:none;width:30px;"/>

                   <input id="button033" type="button"
                   onclick="document.getElementById('dataTable66').style.display='inline';"
                            value="+" style="display:none;width:30px;"/> 첨부파일 추가하기

                   </div>

                   <!-- /첨부파일 추가 -->




               <!-- 서비스선택,시급&시간 -->



                   <div style="height:17px;"></div>
                   <div><b>견적서 제출 하기</b></div>
                   <div style="height:14px;"></div>


<script>
  $(document).ready(function() {
   $('[data-toggle="popover"]').popover({
      placement: 'top',
      trigger: 'hover'
   });
});
</script>
      <table id="dataTable2"  border="0">
        <TR>
        <td>
          <select id="service" name="service" required onchange="calculateTotal()">
            <option selected>서비스를 선택 해주세요.</option>
            <option value="service1">현지 통역</option>
            <option value="service2">현지 차랑</option>
            <option value="service3">번역 </option>
            <option value="service4">현지 기관 섭외 </option>
          </select>
        </td>
        <!-- <form oninput="x.value=parseFloat(a.value)*parseFloat(b.value)" > -->



        <td>
            <div>시급:</div>
        </td>
        <td>
            $ <input type="number" name="INPUT1" id="input" step="0.01" placeholder="급여를 입력 해주세요." min="0.00" onchange="calculate();"/>

        </td>
        <td>
          <div class="bs-example" style="margin-top: 10%;">
              <button type="button" class="btn btn-primary" data-toggle="popover" data-content="시간당 급여가 아닌 전체 일정 동안의 총 급여를 입력 해주세요."><i class="far fa-question-circle"></i></button>
          </div>

        </td>

        </TR>

    </table>
    <div style="height:14px;"></div>
    <textarea id="subject" name="subject" placeholder="희망 급여에 대해서 설명해주세요. " style="height:100px;width:90%"></textarea>
    <div style="height:17px;"></div>


    <div style="height:8px;"></div>
  <!-- /서비스선택,시급&시간 -->



  <!-- 추가비용 선택하기 -->


              <div id="dataTable" style="display:none;">
                <TABLE border="0">
                  <TR>
                     <td id="extra">
                       <select  name="extra" required>
                         <option selected>추가 비용을 선택 해주세요.</option>
                         <option value="service1">추가 비용1</option>
                         <option value="service2">추가 비용2</option>
                         <option value="service3">추가 비용3</option>
                         <option value="service4">추가 비용4</option>
                         <option value="service5">추가 비용5</option>
                       </select>
                       <a1></a1>
                     </td>


                     <td>
                       <div>추가비용: $</div>
                     </td>

                     <td>
                        <input type="number" name="INPUT3" id="input3"  placeholder="추가 비용을 입력 해주세요." step="0.01" min="0.00" onchange="calculate();"/>
                     </td>
                  </TR>
               </TABLE>
               <div style="height:14px;"></div>
               <textarea id="subject" name="subject" placeholder="추가 비용에 대해서 설명해주세요. " style="height:100px;width:90%;"></textarea>
               <div style="height:17px;"></div>
               </div>

            <div id="dataTable3" style="display:none;">
               <TABLE  border="0">
                 <TR>
                    <td id="extra">
                      <select  name="extra" required>
                        <option selected>추가 비용을 선택 해주세요.</option>
                        <option value="service1">추가 비용1</option>
                        <option value="service2">추가 비용2</option>
                        <option value="service3">추가 비용3</option>
                        <option value="service4">추가 비용4</option>
                        <option value="service5">추가 비용5</option>
                      </select>
                      <a1></a1>
                    </td>


                    <td>
                      <div>추가비용: $</div>
                    </td>

                    <td>
                       <input type="number" name="INPUT4" id="input4"  placeholder="추가 비용을 입력 해주세요." step="0.01" min="0.00" onchange="calculate();"/>
                    </td>
                 </TR>
              </table>
              <div style="height:14px;"></div>
              <textarea id="subject" name="subject" placeholder="추가 비용에 대해서 설명해주세요. " style="height:100px;width:90%;"></textarea>
              <div style="height:17px;"></div>
              </div>

          <div id="dataTable4" style="display:none;">
              <TABLE  border="0">
                <TR>
                   <td id="extra">
                     <select  name="extra" required>
                       <option selected>추가 비용을 선택 해주세요.</option>
                       <option value="service1">추가 비용1</option>
                       <option value="service2">추가 비용2</option>
                       <option value="service3">추가 비용3</option>
                       <option value="service4">추가 비용4</option>
                       <option value="service5">추가 비용5</option>
                     </select>
                     <a1></a1>
                   </td>


                   <td>
                     <div>추가비용: $</div>
                   </td>

                   <td>
                      <input type="number" name="INPUT5" id="input5"  placeholder="추가 비용을 입력 해주세요." step="0.01" min="0.00" onchange="calculate();"/>
                   </td>
                </TR>
             </table>
             <div style="height:14px;"></div>
             <textarea id="subject" name="subject" placeholder="추가 비용에 대해서 설명해주세요. " style="height:100px;width:90%;"></textarea>
             <div style="height:17px;"></div>
             </div>

          <div id="dataTable5" style="display:none;">
             <TABLE  border="0">
               <TR>
                  <td id="extra">
                    <select  name="extra" required>
                      <option selected>추가 비용을 선택 해주세요.</option>
                      <option value="service1">추가 비용1</option>
                      <option value="service2">추가 비용2</option>
                      <option value="service3">추가 비용3</option>
                      <option value="service4">추가 비용4</option>
                      <option value="service5">추가 비용5</option>
                    </select>
                    <a1></a1>
                  </td>


                  <td>
                    <div>추가비용: $</div>
                  </td>

                  <td>
                     <input type="number" name="INPUT6" id="input6"  placeholder="추가 비용을 입력 해주세요." step="0.01" min="0.00" onchange="calculate();"/>
                  </td>
               </TR>
            </table>
            <div style="height:14px;"></div>
            <textarea id="subject" name="subject" placeholder="추가 비용에 대해서 설명해주세요. " style="height:100px;width:90%;"></textarea>
            <div style="height:17px;"></div>
            </div>

<div id="dataTable6" style="display:none;">
            <TABLE  border="0" >
              <TR>
                 <td id="extra">
                   <select  name="extra" required>
                     <option selected>추가 비용을 선택 해주세요.</option>
                     <option value="service1">추가 비용1</option>
                     <option value="service2">추가 비용2</option>
                     <option value="service3">추가 비용3</option>
                     <option value="service4">추가 비용4</option>
                     <option value="service5">추가 비용5</option>
                   </select>
                   <a1></a1>
                 </td>


                 <td>
                   <div>추가비용: $</div>
                 </td>

                 <td>
                    <input type="number" name="INPUT7" id="input7"  placeholder="추가 비용을 입력 해주세요." step="0.01" min="0.00" onchange="calculate();"/>
                 </td>
              </TR>
           </table>
           <div style="height:14px;"></div>
           <textarea id="subject" name="subject" placeholder="추가 비용에 대해서 설명해주세요. " style="height:100px;width:90%;"></textarea>
           <div style="height:17px;"></div>
           </div>



               <div >
                 <input id="button111" type="button"
                 onclick="document.getElementById('dataTable').style.display='inline';
                          document.getElementById('button111').style.display='none';
                          document.getElementById('button11').style.display='inline';"
                          value="+" style="display:inline;width:30px;"/>

               <input id="button11" type="button"
               onclick="document.getElementById('dataTable3').style.display='inline';
                        document.getElementById('button11').style.display='none';
                        document.getElementById('button2').style.display='inline';"
                        value="+" style="display:none;width:30px;"/>

               <input id="button2" type="button"
               onclick="document.getElementById('dataTable4').style.display='inline';
                        document.getElementById('button2').style.display='none';
                        document.getElementById('button222').style.display='inline';"
                        value="+" style="display:none;width:30px;"/>

               <input id="button222" type="button"
               onclick="document.getElementById('dataTable5').style.display='inline';
               document.getElementById('button222').style.display='none';
               document.getElementById('button33').style.display='inline';"
               value="+" style="display:none;width:30px;"/>

               <input id="button33" type="button"
               onclick="document.getElementById('dataTable6').style.display='inline';"
                        value="+" style="display:none;width:30px;"/> 추가 비용 청구하기

               </div>

               <!-- <div>
                <INPUT type="button" value="-" onclick="deleteRow('dataTable')" style="display:inline;width:30px;"> 추가 비용 취소하기
              </div> -->
          <!-- /추가비용 선택하기 -->
              <hr style="width:30%">

              <div class="text-center"><b>
              합계:$<output name="OUTPUT1" id="output1"></output>
              </b></div>
          </div>


      <hr style="width:100%">
        <div class="text-center" >
          <a href="#"><button id="button-apply" type="submit" class="btn btn-dark">지원하기</button></a>
        </div><br>


        </div>
  </div>
    </div>
    </div>
  </form>

  <!-- /The Modal -->
