<link rel="stylesheet" href="/static/stylesheets/emailvalidation.css">
<% if(error_code.length > 0) { %>
<div class="pum pumactive">
<% } else { %>
<div class="pum">
<% } %>
    <div class="pum-container">
        <div class="maincontent">
            <!-- <span class="exittable"><i class="fa fa-times" aria-hidden="true"></i></span> -->
            <form class="" action="/validate/code" method="post">
                <p>이메일로 전송된 코드를 입력하시오</p>
                <input class="form-control validationform" type="text" name="code" required>
                <button class="btn btn-primary validationform">확인</button>
            </form>
            코드 기간이 만료되셨나요? <a href="#">코드 재전송하기</a>
        </div>
    </div>
</div>
