<link rel="stylesheet" href="/static/stylesheets/navbar.css">

<div class="myNav">
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- <div class="container"> -->
            <a class="logo" href="/"><img src="/static/images/0.jpg" height="60" width="100"></img></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <% if (currentUser) { %>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/find_partner" id="fplink">
                            <img src="/static/icons/findpartner.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                            파트너 찾기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/partner_page" id="pplink">
                            <img src="/static/icons/partnerpage.svg" style="width: 20px; height: 20px; margin-right: 3px;"></img>
                            파트너 페이지</a>
                    </li>
                    <div class="verticaldivider"></div>
                    <li class="nav-item dropdown" id="hov2">
                        <a class="nav-link dropdown-toggle" href="/user_profile" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:10px 30px;">
                            <% if (currentUser.type === "p") { %>
                                <% if (currentUser.profilePic) { %>
                                  <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>" style="max-height:40px;border-radius:25px;">
                                <% } else { %>
                                  <img class="profileimg" src="/static/images/noprofilepic.jpeg" style="max-height:40px;border-radius:25px;">
                                <% } %>
                            <% } else { %>
                                <% if (currentUser.companyLogo) { %>
                                  <img class="profileimg" src="/logo/<%= currentUser.companyLogo %>" style="max-height:40px;border-radius:25px;">
                                <% } else { %>
                                  <img class="profileimg" src="/static/images/noprofilepic.jpeg" style="max-height:40px;border-radius:25px;">
                                <% } %>
                            <% } %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-menu" aria-labelledby="navbarDropdown">

                            <% if (currentUser.type === "p") { %>
                                <!-- dropdown for partners -->
                                <a class="dropdown-item" href="/user_profile/partnerProfile">
                                    <img src="/static/icons/document.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                                    프로필 관리
                                </a>
                                <a class="dropdown-item" href="/user_profile/tasks">
                                    <!-- <img src="/static/icons/partner_tasks.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="fas fa-tasks" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    업무 예약 관리
                                </a>
                                <a class="dropdown-item" href="/user_profile/schedule">
                                    <!-- <img src="/static/icons/partner_schedule.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="far fa-calendar-alt" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    일정 관리
                                </a>
                                <a class="dropdown-item" href="/user_profile/messages">
                                    <!-- <img src="/static/icons/messages.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="far fa-comments" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    <% if (currentUser.messageNotification) { %>
                                        뉴 메세지
                                    <% } else { %>
                                        메세지
                                    <% } %>
                                </a>
                                <a class="dropdown-item" href="/user_profile/payment_info">
                                    <!-- <img src="/static/icons/.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="far fa-credit-card" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    정산 계좌 등록
                                </a>
                                <a class="dropdown-item" href="/user_profile/account_info">
                                    <img src="/static/icons/manage.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                                    계정 관리
                                </a>
                                <hr style="margin:5px auto;width:85%;text-align:center;">
                                <a class="dropdown-item" href="/auth/logout">
                                    <img src="/static/icons/signout.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                                    로그아웃
                                </a>
                            <% } else if (currentUser.type === "c") { %>
                                <!-- dropdown for clients -->
                                <a class="dropdown-item" href="/user_profile/task_request_info">
                                    <!-- <img src="/static/icons/document.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="fas fa-tasks" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    견적 요청 관리
                                </a>
                                <a class="dropdown-item" href="/user_profile/applicants_info">
                                    <!-- <img src="/static/icons/document.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="fas fa-users" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    지원자 보기
                                </a>
                                <a class="dropdown-item" href="/user_profile/messages">
                                    <!-- <img src="/static/icons/document.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="far fa-comments" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    <% if (currentUser.messageNotification) { %>
                                        뉴 메세지
                                    <% } else { %>
                                        메세지
                                    <% } %>
                                </a>
                                <a class="dropdown-item" href="/user_profile/saved_partners">
                                    <!-- <img src="/static/icons/document.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img> -->
                                    <i class="far fa-bookmark" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    저장된 파트너
                                </a>
                                <a class="dropdown-item" href="/user_profile/account_info">
                                    <img src="/static/icons/manage.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                                    계정 관리
                                </a>
                                <hr style="margin:5px auto;width:85%;text-align:center;">
                                <a class="dropdown-item" href="/auth/logout">
                                    <img src="/static/icons/signout.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                                    로그아웃
                                </a>
                            <% } else if (currentUser.type === "a") { %>
                                <!-- dropdown for admins -->
                                <a class="dropdown-item" href="/trex-admin">
                                    <i class="fas fa-user-secret" style="width: 15px; height: 15px; margin-right: 3px;"></i>
                                    관리자 페이지
                                </a>
                                <hr style="margin:5px auto;width:85%;text-align:center;">
                                <a class="dropdown-item" href="/auth/logout">
                                    <img src="/static/icons/signout.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                                    로그아웃
                                </a>
                            <% } %>
                            
                        </div>
                    </li>
                </ul>
              <% }  else { %>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/find_partner" id="fplink">
                            <img src="/static/icons/findpartner.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                            파트너 찾기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/partner_page" id="pplink">
                            <img src="/static/icons/partnerpage.svg" style="width: 20px; height: 20px; margin-right: 3px;"></img>
                            파트너 페이지</a>
                    </li>
                    <div class="verticaldivider"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login" id="loginlink">
                            <img src="/static/icons/signin.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                            로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register" id="registerlink">
                            <img src="/static/icons/signup.svg" style="width: 15px; height: 15px; margin-right: 3px;"></img>
                            회원가입</a>
                    </li>
                </ul>
              <% } %>
            </div>
    </nav>
</div>

<!-- scroll to top button -->
<script>
document.addEventListener("DOMContentLoaded", function (event) {
   // type();
   movingBackgroundImage();
});
</script>
<div class="container-fluid">
<button href="#" id="scroll" style="display: none;">&uarr;<br>top</button>
<div class="bottom-fixed"><a href="https://accounts.kakao.com/login?continue=http%3A%2F%2Fpf.kakao.com%2F_dCzvj%2Fchat" target="_blank">
<svg xmlns="http://www.w3.org/2000/svg" width="2500" height="2500" viewBox="0 0 256 256"><path fill="#FFE812" d="M256 236c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20V20C0 8.954 8.954 0 20 0h216c11.046 0 20 8.954 20 20v216z"/><path d="M128 36C70.562 36 24 72.713 24 118c0 29.279 19.466 54.97 48.748 69.477-1.593 5.494-10.237 35.344-10.581 37.689 0 0-.207 1.762.934 2.434s2.483.15 2.483.15c3.272-.457 37.943-24.811 43.944-29.04 5.995.849 12.168 1.29 18.472 1.29 57.438 0 104-36.712 104-82 0-45.287-46.562-82-104-82z"/><path fill="#FFE812" d="M70.5 146.625c-3.309 0-6-2.57-6-5.73V105.25h-9.362c-3.247 0-5.888-2.636-5.888-5.875s2.642-5.875 5.888-5.875h30.724c3.247 0 5.888 2.636 5.888 5.875s-2.642 5.875-5.888 5.875H76.5v35.645c0 3.16-2.691 5.73-6 5.73zM123.112 146.547c-2.502 0-4.416-1.016-4.993-2.65l-2.971-7.778-18.296-.001-2.973 7.783c-.575 1.631-2.488 2.646-4.99 2.646a9.155 9.155 0 0 1-3.814-.828c-1.654-.763-3.244-2.861-1.422-8.52l14.352-37.776c1.011-2.873 4.082-5.833 7.99-5.922 3.919.088 6.99 3.049 8.003 5.928l14.346 37.759c1.826 5.672.236 7.771-1.418 8.532a9.176 9.176 0 0 1-3.814.827c-.001 0 0 0 0 0zm-11.119-21.056L106 108.466l-5.993 17.025h11.986zM138 145.75c-3.171 0-5.75-2.468-5.75-5.5V99.5c0-3.309 2.748-6 6.125-6s6.125 2.691 6.125 6v35.25h12.75c3.171 0 5.75 2.468 5.75 5.5s-2.579 5.5-5.75 5.5H138zM171.334 146.547c-3.309 0-6-2.691-6-6V99.5c0-3.309 2.691-6 6-6s6 2.691 6 6v12.896l16.74-16.74c.861-.861 2.044-1.335 3.328-1.335 1.498 0 3.002.646 4.129 1.772 1.051 1.05 1.678 2.401 1.764 3.804.087 1.415-.384 2.712-1.324 3.653l-13.673 13.671 14.769 19.566a5.951 5.951 0 0 1 1.152 4.445 5.956 5.956 0 0 1-2.328 3.957 5.94 5.94 0 0 1-3.609 1.211 5.953 5.953 0 0 1-4.793-2.385l-14.071-18.644-2.082 2.082v13.091a6.01 6.01 0 0 1-6.002 6.003z"/></svg>
</a></div></div>

<script>

$(document).ready(function(){
  $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
          $('#scroll').fadeIn().css("z-index","4");
      } else {
          $('#scroll').fadeOut();
      }

  });
  $('#scroll').click(function(e){
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
  });
});
</script>
<!-- /scroll to top button -->
