<link rel="stylesheet" href="/static/stylesheets/navbar.css">

<div class="myNav">
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- <div class="container"> -->
            <a class="logo" href="/">TrexLogo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/#project">파트너 찾기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#teams">파트너 페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">회원가입</a>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </nav>
</div>
