<link rel="stylesheet" href="/static/stylesheets/viewproficiency.css">
<div class="pum">
    <div class="pum-container">
        <div class="maincontent">
            <span class="exittable"><i class="fa fa-times" aria-hidden="true"></i></span>
            <p>언어 레벨 기준</p>
            <table>
                <tbody>
                    <tr class="titles">
                        <td class="scale">레벨</td>
                        <td class="level">수준</td>
                        <td class="description">설명</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>의사 소통 가능</td>
                        <td>일반 생활에서 자주 사용되는 간단한 언어적 표현을 이해하고, 구사할 수 있으며, <br/>
                        스스로 또는 타인을 소개하고, 그에 관한 기초적인 질문 및 대답을 할 수 있다.</td>
                    </tr>
                    <tr>
                        <td>70</td>
                        <td>일상 대화 가능</td>
                        <td>자주 사용되는 직접적으로 연계되는 언어적 표현을 이해하, 구사할 수 있으며, <br/>
                            사람, 직장, 주변환경 등과 관련되는 사항을 묘사 할 수 있다.</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>조금 유창함</td>
                        <td>명확한 표준어에 대한 요점을 이해할 수 있다. 해당 언어로 발생될 수 있는 상황을 간단한 언어를 사용해 극복할 수 있습니다.<br/>
                            주제에 관련하여 간단히 자신을 표현할 수 있고, 희망, 목적, 의도 등을 묘사/설명할 수 있습니다.</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>유창함</td>
                        <td>세부적이고, 추상적인 보다 복잡한 글을 이해하고, 일부 분야에 대해서는 전문적인 토론이 가능며, 대화에는 큰 불편없이 죽흥적으로 유창한 의사소통이 가능합니다.<br.>
                        주어진 주제에 관해 명확히 묘사할 수 있고, 현실적인 질문과 대답, 장단점을 제시할 수 있습니다.</td>
                    </tr>
                    <tr>
                        <td>90</td>
                        <td>매우 유창함</td>
                        <td>광범위한 분야의 긴문장과 내재된 의미를 이해할 수 있으며, 대화에서 즉흥적으로 유창한 의사소통이 가능합니다<br/>
                        명확하고 체계적으로 복잡한 상황을 표현하고, 적합하고 다양한 문장연결표현을 사용합니다.</td>
                    </tr>
                    <tr>
                        <td>95</td>
                        <td>현지인</td>
                        <td>실질적인 모든 읽기, 듣기에서 노력없이 이해할 수 있으며, 다양한 필적, 구어적 정보를 요약하고, 그것을 다시 근거를 제시하며 설명할 수 있습니다.<br/>
                        복잡한 상황에서 즉흥적으로 매우 유창하고 정확하게 표현할 수 있으, 언어의 다양한 표현에서 세부적인 의미의 미묘한 차이를 분명히 구분할 수 있습니다.</td>
                    </tr>
                    <tr style="">
                        <td>100</td>
                        <td colspan="3">모국어</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
