<link rel="stylesheet" href="/static/stylesheets/viewproficiency.css">
<div class="pum">
    <div class="pum-container">
        <div class="maincontent">
            <center><img class="zoomedimage"></center>
        </div>
    </div>
</div>
