<div class="sectionbar">
    <a style="color:black;" href="#">파트너소개</a>
    <a style="color:black;" href="#">파트너소개</a>
    <a style="color:black;" href="#">파트너소개</a>
    <a style="color:black;" href="#">파트너소개</a>
</div>
