<link rel="stylesheet" href="/static/stylesheets/subbar.css">

<!-- <div class="section-container"> -->
    <div class="sectionbar">
        <ul>
            <li><a href="#">파트너소개</a></li>
            <li><a href="#">파트너소개</a></li>
            <li><a href="#">파트너소개</a></li>
            <li><a href="#">파트너소개</a></li>
        </ul>
    </div>
<!-- </div> -->

<script src="/static/scripts/subbar.js"></script>
