<style>
* {
  box-sizing: border-box;
}

.modal-body {
    padding: 1rem 0;
}
#regForm {
  background-color: #ffffff;
  margin: auto;
  font-family: Raleway;
  width: 100%;
  min-width: 300px;
  height: 350px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
//  background-color:#e60000;
border:2px solid #e60000;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
.modal-dialog{
}
#nextBtn{
  background-color: #f8ba00;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

#nextBtn:hover {
  opacity: 0.8;
  color:black;
}


#prevBtn{
  background-color: #bbbbbb;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
#prevBtn:hover{
  color: black;
}

/* Make circles that indicate the steps of the form: */
.stepbar {
    font-size: 0;
    background-color: #ccc;
    height: 7px;
    border-radius: 10px;
    margin: 40px auto;
    width: 80%;
}
.step {
  height: 7px;
  width: 0%;
  background-color: rgb(120, 166, 211);
  border: none;
  display: block;
  margin-bottom:50px;
  border-radius: 10px;
  transition: width 1s;
  max-width: 100%;
}
.progression {
    display: none;
    font-size: 13px;
    margin-top: -40px;
}
.btn-list {
    margin: 2rem;

}

</style>


<script>
function closeAllModal(){
  document.getElementById('closeAll').click();
  // document.getElementById('closeAll2').click();
  document.getElementById("myModal3").style.display="none";
  document.getElementById('myModal2').style.opacity='1.0'
  $(".modal-backdrop").removeClass("show");
  $(".modal-backdrop").css("display", "none");
  $("#regForm").trigger('reset');
}
function gaesokFunction(){
    document.getElementById("myModal3").style.display="none";
    document.getElementById("myModal2").style.opacity="1.0";
}
</script>

<link rel="stylesheet" href="/static/stylesheets/task-request-form.css">

<div class="modal fade text-center" id="myModal2" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" style="width:650px;">
    <div class="modal-content">
    <div class="close1" data-toggle="modal" data-target="#myModal3" onclick="document.getElementById('myModal2').style.opacity='0.8'" style="color:#999999; z-index:1;"></div>
    <button id="closeAll" type="button" class="close" data-dismiss="modal" style="display:none;"></button>
         <div class="modal-body">


             <div class="stepbar" style="text-align:center;">
               <span class="step" id="step"></span>
               <p class="progression"></p>
             </div>
<form id="regForm" action="/action_page.php" target="_blank">



  <!-- Circles which indicates the steps of the form: -->

  <!-- One "tab" for each step in the form: -->
  <% detailService.questionList.forEach((q) => { %>
      <div class="tab">
          <p class="qtitle"><%= q.questionName %></p>
          <% if(q.type === "checkbox") { %>
              <table class="radio-group">
              <% q.options.forEach((option) => { %>
                  <tr>
                      <td>
                          <label class="radio">
                              <input type="radio" name="tongyuk" value="<%= option %>"><%= option %>
                              <span></span>
                          </label>
                      </td>
                  </tr>
              <% }); %>
              </table>
          <% } else if(q.type === "dropdown") { %>
              <select class="form-control" id="sel1">
                  <% q.options.forEach((option) => { %>
                      <option><%= option %></option>
                  <% }); %>
              </select>
          <% } else if(q.type === "input") { %>
              <input class="form-control" placeholder="sample">
          <% } else if(q.type === "textarea") { %>
              <textarea class="form-control"></textarea>
          <% } %>
      </div>
  <% }); %>
</form>
<div>
  <div class="btn-list">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- Modal -->

<div class="modal fade" id="myModal3" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" style="margin-top:12%;">
    <div class="modal-content">
      <div class="modal-header" style="display:none;">
        <br>
      </div>
      <div class="modal-body text-center">
        <br><br>
        <p style="font-size:23px;">정말 그만두시겠어요?</p>
      </div>
      <hr style="width:100%;">
      <div  class="text-center"> <!-- class="modal-footer " -->
        <button type="button" class="btn btn-default " onclick="closeAllModal();" style="height:50px;color:#999999;">그만 두기</button>
        <button type="button" id="button1" class="btn btn-default" onclick="gaesokFunction()" data-dismiss="modal">계속 하기</button>

        <br>
        <button id="closeAll2" type="button" data-dismiss="modal" style="display:none;"></button>
        <br>
      </div>

    </div>
  </div>
</div>



<script>
    document.getElementById("myModal3").addEventListener("click",(e) => {

        if(e.target.className != "modal-dialog modal-sm"){
          document.getElementById("myModal2").style.opacity="1.0";
          // document.getElementById("myModal2").style.bacground=rgba(0, 0, 0, 1.2);

        }

    });

    document.getElementById("myModal2").addEventListener("click",(e) => {
        console.log(e);
          // if(e.target.className != "modal-body"){
          //     if(e.target.className !="col-12 modal-title text-cente"){
          //         if(e.target.className !="tab")
          //         document.getElementById("myModal2").style.opacity="0.5";
          //     }
          //   // document.getElementById("myModal2").style.opacity="0.5";
          // }
        if(e.target.className == "modal fade text-center show"){
            // document.getElementById("myModal2").style.display ="block";
            //
            document.getElementById("myModal3").style.display="block";
            document.getElementById("myModal3").classList.add("show");
            document.getElementById("myModal2").style.opacity="0.8";
            document.getElementById("myModal2").style.bacground=rgba(0, 0, 0, 1.2);
            // document.getElementById("myModal2").classList.add("show");

            // $("#myModal3").css("z-index", "1050");
            // document.getElementById("myModal3").style.z-index="1050";

        }
      });



var width = 0;
var numOfTabs = document.querySelectorAll(".tab").length;
var progressionIndicator = document.querySelector(".progression");

var nextButton = () => {
    width += 100 / numOfTabs;
    document.querySelector(".step").style.width = width + "%";
    if(width >= 70) {
        progressionIndicator.innerHTML = Math.round(width) + "% completed!";
        progressionIndicator.style.display = "block";
    }
};


var prevButton = () => {
    width = width - 100 / numOfTabs;
    document.querySelector(".step").style.width = width + "%";
    if(width < 70) {
        progressionIndicator.style.display = "none";
    } else {
        progressionIndicator.innerHTML = Math.round(width) + "% completed!";
    }
}

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}


function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...

  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
  n == 1 ? nextButton() : prevButton();
  return false;
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    // document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace("finish", "");
  }
  //... and adds the "active" class on the current step:
  x[0].className += " finish";
}
</script>
