<!DOCTYPE html>
<html lang="en">
<head>
  <title>partnerpage</title>
  <meta charset="utf-8">
<% include ./partials/header %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--for mobile websites-->
  <meta name="google" content="notranslate" />
  <!-- css cdn -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- cdn for jQuery must be before that of JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="style.css">


</head>

<body>
<% include ./partials/navbar %>
<!-- Carousel Section -->
<div class="container-fluid" id="mainDiv">
<div id="slides" class="carousel slide" data-ride="carousel">


<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="desk.jpg" class="center">
    <div class="carousel-caption" style="color:black;">
      <h1 class="display-3">현지 언어가 가능하신가요?</h1>
      <h1><b>트렉스 파트너로</b></h1>
      <h1>수익을 창출하세요</h1>
      <br><br>
        <button type="button" class="btn-warning" style="color:white;">파트너 등록하기</button>
    </div>

  </div>
</div>

</div>
</div>
<!-- End of Carousel Section -->
<br><br>
<!-- 파트너 활동은 어떻게 하나요? -->
<div class="container-fluid text-center" >
<div class="container">
<div class="sectionContent">
<div class="row">

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 1</b></div>
      <div class="grid-item item2" >가입 후 프로필을 등록 해 주세요.</div>
      <div class="grid-item item3" ><i class="far fa-address-card"></i></div>
      <div class="grid-item item4" >먼저 이메일로 사이트에 가입 해 주세요.<br>파트너가 되시려면 프로필을 등록 해주셔야 합니다.
      간단하게 파트너님의 경력, 전공 등 프로필을 작성 해주세요.</div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 2</b></div>
      <div class="grid-item item2" >인터뷰를 진행하세요.</div>
      <div class="grid-item item3" ><i class="fas fa-phone-volume"></i></div>
      <div class="grid-item item4" >형식적인 인터뷰가 아닌 파트너님을 더 잘 알아가기 위한 단계 입니다!<br>
      인터뷰 일정은 프로필 게시 후 이메일로 안내드리며, 인터뷰를 진행하셔야 업무를 진행 하실 수 있습니다.</div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 3</b></div>
      <div class="grid-item item2" >업무를 진행하세요.</div>
      <div class="grid-item item3" ><i class="far fa-calendar-alt"></i></div>
      <div class="grid-item item4" >파트너님의 거주지, 전공 분야 등 에 맞는 업무를 예약 받고 성곡적으로 진행하세요.<br>
      수익 창출에 더불어 네트워킹, 경력 발전의 기회를 가지실 수 있습니다!</div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 4</b></div>
      <div class="grid-item item2" >가입 후 프로필을 등록 해 주세요.</div>
      <div class="grid-item item3" ><i class="fas fa-briefcase"></i></div>
      <div class="grid-item item4" >파트너로 더 많은 업부를 예약 받고 진행하세요.<br>
      클라이언트가 작성 한 업무 후기에 답변을 작성하고 더 많은 예약을 받아보세요.</div>
    </div>
  </div>

</div>
</div>
</div>
</div>
<!-- /파트너 활동은 어떻게 하나요?-->
<br><br>
<!-- 업무에 지원 해 보세요! -->
<div class="container-fluid text-center" >
  <h1>업무에 지원 해보세요!</h1>
  <h3>트렉스 파트너만 지원 가능 합니다.</h3>
<div class="container" style="width:60%;">
<div class="sectionContent">
<div class="row">

  <div class="col-sm-12 col-md-6">
    <div class="card " >
  <div class="card-body">
    <h2 style="color:grey;">Confirm</h2>
    <div >Do you wish to continue?</div>
  </div>
  <br><br>
  <div class="text-right">
  <button type="button" class="btn " >CANCEL</button>
  <button type="button" class="btn" style="color:#00b3b3;" >OK</button>
</div>
</div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card " >
  <div class="card-body">
    <h2 style="color:grey;">Confirm</h2>
    <div >Do you wish to continue?</div>
  </div>
  <br><br>
  <div class="text-right">
  <button type="button" class="btn " >CANCEL</button>
  <button type="button" class="btn" style="color:#00b3b3;" >OK</button>
</div>
</div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card " >
  <div class="card-body">
    <h2 style="color:grey;">Confirm</h2>
    <div >Do you wish to continue?</div>
  </div>
  <br><br>
  <div class="text-right">
  <button type="button" class="btn " >CANCEL</button>
  <button type="button" class="btn" style="color:#00b3b3;" >OK</button>
</div>
</div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card " >
  <div class="card-body">
    <h2 style="color:grey;">Confirm</h2>
    <div >Do you wish to continue?</div>
  </div>
  <br><br>
  <div class="text-right">
  <button type="button" class="btn " >CANCEL</button>
  <button type="button" class="btn" style="color:#00b3b3;" >OK</button>
</div>
</div>
  </div>

</div>
</div>
</div>
<br>
<button type="button" class="btn btn-dark text-center">모든 업무 보기</button>
</div>
<!-- /업무에 지원 해 보세요! -->
<br><br>
<!-- faq&트렉스 파트너의 후기-->
<div class="container-fluid text-center" >
<div class="container">
<div class="sectionContent">
<div class="row">

<div class="col-md-12 col-lg-7">
  <h2>자주 묻는 질문</h2>
<style>
[data-toggle="collapse"]:after {
display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
content: "\f078";
transform: rotate(-180deg) ;
transition: all linear 0.25s;
}
[data-toggle="collapse"].collapsed:after {
transform: rotate(0deg) ;
}
</style>
<ol id="qlist">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading-1">
        <div class="mb-0" style="padding-bottom:4%;">
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
            전문 통역사가 아니어도 파트너 등록이 가능 한가요?   </a>
        </div>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
          네, 현지 언어와 한국가 가능하시고, 전문 분야가 있으시다면 누구나 파트너 등록이 가능 합니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-2">
        <div class="mb-0" style="padding-bottom:4%;">
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            파트너 등록 비용은 얼마인가요?  </a>
        </div>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          1) Click the "Log In / Sign Up" button at the top right corner of the website.<br><br>
          2) Click the <text style="color:blue;">Find My Account</text> button at the bottom of the login page.<br><br>
          3) Enter the email address that you registered with and click <button class="btn btn-primary" style="background-color: #F4573C;" disabled>Reset Password</button>.<br><br>
          4) Check your email. You will have received an email with a link to reset your password.<br><br>
          5) You will be able to reset your password from the given link.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-3">
        <div class="mb-0" style="padding-bottom:4%;">
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            파트너 급여는 어떻게 받나요?  </a>
        </div>
      </div>
      <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
        <div class="card-body">
          1) Click the "Log In / Sign Up" button at the top right corner of the website.<br><br>
          2) Click the <text style="color:blue;">Find My Account</text> button at the bottom of the login page.<br><br>
          3) Enter the email address that you registered with and click <button class="btn btn-primary" style="background-color: #F4573C;" disabled>Reset Password</button>.<br><br>
          4) Check your email. You will have received an email with a link to reset your password.<br><br>
          5) You will be able to reset your password from the given link.
        </div>
      </div>
    </div>
  </div>
</ol>
</div>

<div class="col-md-12 col-lg-5">
  <h2><span style='color: #ffcc00'>트렉스 파트너</span>의 후기</h2>
</div>
</div>
</div>
</div>

<button type="button" class="btn btn-secondary">파트너 질문 더 보기</button>
</div>
<!-- /faq&트렉스 파트너의 후기-->
<br><br>

</body>
</html>



<% include ./partials/footer %> 

</body>
</html>
