<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul>
      <ul>
        유럽
        <ul>서유럽
          <a href=""><li>네덜란드</li></a>
          <a href=""><li>네덜란드</li></a>
          <a href=""><li>네덜란드</li></a>
          <a href=""><li>네덜란드</li></a>
          <a href=""><li>네덜란드</li></a>
        </ul>
        <ul>남유럽
          <li>그리스</li>
          <li>몬테네그로</li>
          <li>몰타</li>
          <li>스페인</li>
          <li>터키</li>
        </ul>
      </ul>
      <ul>
        아시아
      </ul>
      <ul>
        아메리카
      </ul>
      <ul>
        오세아니아
      </ul>
      <ul>
        아프리카
      </ul>
    </ul>

  </body>
</html>
