<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
      .continentList{
        display: flex;
        text-decoration: none;
        margin: 50px;
        padding-left: 100px;
        padding-right: 100px;
      }
      .continentpartList{
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;

        /* list-style: none; */
      }
      .continentpartList li{
        list-style: none;
        margin-bottom: 6px;
      }
      .continentpartList a{
        text-decoration: none;
        font-size: 12px;
      }
      .w3-container{
        width: 170px;
      }
      h1 {
        width: 70px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
      }
      h4 {
        font-size: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4);
        display: flex;
      }
    </style>
  </head>
  <body>


    <div class="continentList">
      <h1>유럽</h1>
      <div class="continentpartList w3-container">
        <h4>서유럽</h4>
        <a href=""><li>네덜란드</li></a>
        <a href=""><li>독일</li></a>
        <a href=""><li>룩셈부르크</li></a>
        <a href=""><li>모나코</li></a>
        <a href=""><li>벨기에</li></a>
        <a href=""><li>스위스</li></a>
        <a href=""><li>아일랜드</li></a>
        <a href=""><li>영국</li></a>
        <a href=""><li>오스트리아</li></a>
        <a href=""><li>이탈리아</li></a>
        <a href=""><li>프랑스</li></a>

      </div>

      <div class="continentpartList w3-container">
        <h4>남유럽 / 지중해 / 터키</h4>
        <a href=""><li>그리스</li></a>
        <a href=""><li>몬테네그로</li></a>
        <a href=""><li>몰타</li></a>
        <a href=""><li>보스니아 헤르체고비나</li></a>
        <a href=""><li>스페인</li></a>
        <a href=""><li>슬로베니아</li></a>
        <a href=""><li>영국령 지브롤터</li></a>
        <a href=""><li>크로아티아</li></a>
        <a href=""><li>터키</li></a>
        <a href=""><li>포르투갈</li></a>

      </div>

      <div class="continentpartList w3-container">
        <h4>동유럽 / 발틱3국</h4>
        <a href=""><li>라트비아</li></a>
        <a href=""><li>러시아</li></a>
        <a href=""><li>루마니아</li></a>
        <a href=""><li>리투아니아</li></a>
        <a href=""><li>마케도니아</li></a>
        <a href=""><li>불가리아</li></a>
        <a href=""><li>세르비아</li></a>
        <a href=""><li>슬로바키아</li></a>
        <a href=""><li>에스토니아</li></a>
        <a href=""><li>우크라이나</li></a>
        <a href=""><li>조지아</li></a>
        <a href=""><li>체코</li></a>
        <a href=""><li>폴란드</li></a>
        <a href=""><li>헝가리</li></a>



      </div>

      <div class="continentpartList w3-container">
        <h4>북유럽</h4>
        <a href=""><li>노르웨이</li></a>
        <a href=""><li>덴마크</li></a>
        <a href=""><li>스웨덴</li></a>
        <a href=""><li>아이슬란드</li></a>
        <a href=""><li>핀란드</li></a>

      </div>
    </div>


    <div class="continentList">
      <h1>아시아</h1>
      <div class="continentpartList w3-container">
        <h4>동남아</h4>
        <a href=""><li>라오스</li></a>
        <a href=""><li>말레이시아</li></a>
        <a href=""><li>몰디브</li></a>
        <a href=""><li>미얀마</li></a>
        <a href=""><li>베트남</li></a>
        <a href=""><li>브루나이</li></a>
        <a href=""><li>인도네시아</li></a>
        <a href=""><li>캄보디아</li></a>
        <a href=""><li>태국</li></a>
        <a href=""><li>필리핀</li></a>

      </div>

      <div class="continentpartList w3-container">
        <h4>중국 / 일본</h4>
        <a href=""><li>일본</li></a>
        <a href=""><li>중국</li></a>


      </div>

      <div class="continentpartList w3-container">
        <h4>홍콩 / 마카오 / 대만 / 싱가폴</h4>
        <a href=""><li>대만</li></a>
        <a href=""><li>마카오</li></a>
        <a href=""><li>싱가포르</li></a>
        <a href=""><li>홍콩</li></a>




      </div>

      <div class="continentpartList w3-container">
        <h4>국내</h4>
        <a href=""><li>대한민국</li></a>

      </div>

      <div class="continentpartList w3-container">
        <h4>중동</h4>
        <a href=""><li>아랍에미리트</li></a>
        <a href=""><li>아제르바이잔</li></a>
        <a href=""><li>요르단</li></a>
        <a href=""><li>이스라엘</li></a>
        <a href=""><li>카타르</li></a>

      </div>

      <div class="continentpartList w3-container">
        <h4>인도 / 중남아시아</h4>
        <a href=""><li>네팔</li></a>
        <a href=""><li>몽골</li></a>
        <a href=""><li>인도</li></a>
        <a href=""><li>카자흐스탄</li></a>

      </div>
    </div>


    <div class="continentList">
      <h1>아메리카</h1>
      <div class="continentpartList w3-container">
        <h4>미국 / 캐나다</h4>
        <a href=""><li>미국</li></a>
        <a href=""><li>캐나다</li></a>

      </div>

      <div class="continentpartList w3-container">
        <h4>중남미</h4>
        <a href=""><li>과테말라</li></a>
        <a href=""><li>도미니카 공화국</li></a>
        <a href=""><li>멕시코</li></a>
        <a href=""><li>바하마</li></a>
        <a href=""><li>버진아일랜드</li></a>
        <a href=""><li>볼리비아</li></a>
        <a href=""><li>브라질</li></a>
        <a href=""><li>아르헨티나</li></a>
        <a href=""><li>엘살바도르</li></a>
        <a href=""><li>우루과이</li></a>
        <a href=""><li>칠레</li></a>
        <a href=""><li>코스타리카</li></a>
        <a href=""><li>콜롬비아</li></a>
        <a href=""><li>쿠바</li></a>
        <a href=""><li>파나마</li></a>
        <a href=""><li>페루</li></a>

      </div>

    </div>

    <div class="continentList">
      <h1>오세아니아</h1>
      <div class="continentpartList w3-container">
        <h4>호주 / 뉴질랜드</h4>
        <a href=""><li>뉴질랜드</li></a>
        <a href=""><li>오스트레일리아</li></a>

      </div>
      <div class="continentpartList w3-container">
        <h4>남태평양</h4>
        <a href=""><li>괌</li></a>
        <a href=""><li>사이판</li></a>
        <a href=""><li>팔라우</li></a>

      </div>

    </div>
    <div class="continentList">
      <h1>아프리카</h1>
      <div class="continentpartList  w3-container">
        <h4>아프리카</h4>
        <a href=""><li>남아프리카 공화국</li></a>
        <a href=""><li>모로코</li></a>

      </div>

    </div>

  </body>
</html>
