<!DOCTYPE html>
<html lang="en">
<head>
  <title>트렉스 메인 페이지</title>
  <meta charset="utf-8">
  <% include ./partials/header %>
  <style media="screen">
    #cities a{
      color:black;

    }
    #cities a:hover{
      color:#939c9f;
      text-decoration:none;
    }
  </style>
</head>

<body id="bodyfont">
    <% include ./partials/navbar %>

<style media="screen">
  .col-sm-12 a{
    color:black;

<!-- Carousel Section -->
<div class="container-fluid padding" id="mainDiv">
<div id="slides" class="carousel slide" data-ride="carousel">


<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/static/images/switzerland.jpg" class="center" style="width:100%;height:300px;">
    <div class="carousel-caption" style="color:white;">
      <h1 >전체 여행지</h1>
    </div>

  </div>
</div>

</div>
</div>
<!-- End of Carousel Section -->
<br><br>
<!-- city list -->
<div class="container-fluid padding text-center" >

<div class="container" style="width:85%;">
<div class="sectionContent">

  <div class="text-right"><i class="fas fa-star" style="color:#4d94ff;"></i> - 인기 </div>
<br><br><br>
<div class="row" style="width:110%;"> <!-- 유럽 -->

<div class="col-sm-12 col-md-3">
  <a href="#" style="color:#939c9f;font-size:20px;">유럽</a>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div><a href="#" style="color:#939c9f;">서유럽</a></div>
  <hr style="width:95%;">
   <a href="#">네덜란드</a><br>
   <a href="#">독일<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">룩셈부르크</a><br>
   <a href="#">모나코</a><br>
   <a href="#">벨기에</a><br>
   <a href="#">스위스<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">아일랜드<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">영국</a><br>
   <a href="#">오스트리아</a><br>
   <a href="#">이탈리아</a><br>
   <a href="#">프랑스</a><br>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">남유럽/지중해/터키</a></div>
  <hr style="width:95%;">
   <a href="#">그리스<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">몬테네그로</a><br>
   <a href="#">몰타</a><br>
   <a href="#">보스니아 헤르체고비나</a><br>
   <a href="#">스페인</a><br>
   <a href="#">슬로베니아</a><br>
   <a href="#">영국령 지브롤터</a><br>
   <a href="#">크로아티아</a><br>
   <a href="#">터키</a><br>
   <a href="#">포르투갈</a><br>

</div>
<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">동유럽/발틱3국</a></div>
  <hr style="width:95%;">
   <a href="#">라트비아</a><br>
   <a href="#">러시아</a><br>
   <a href="#">루마니아</a><br>
   <a href="#">리투아니아</a><br>
   <a href="#">마케도니아</a><br>
   <a href="#">불가리아</a><br>
   <a href="#">세르비아</a><br>
   <a href="#">슬로바키아<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">에스토니아</a><br>
   <a href="#">우크라이나</a><br>
   <a href="#">조지아</a><br>
   <a href="#">체코</a><br>
   <a href="#">폴란드</a><br>
   <a href="#">헝가리</a><br>
</div>
<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">북유럽</a></div>
  <hr style="width:95%;">
   <a href="#">노르웨이</a><br>
   <a href="#">덴마크</a><br>
   <a href="#">스웨덴</a><br>
   <a href="#">아이슬란드</a><br>
   <a href="#">핀란드</a><br>

</div>

</div>
<br><br>
<div class="row" style="width:110%;"> <!-- 아시아 -->

<div class="col-sm-12 col-md-3">
  <a href="#" style="color:#939c9f;font-size:20px;">아시아</a>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div><a href="#" style="color:#939c9f;">동남아</a></div>
  <hr style="width:95%;">
   <a href="#">라오스</a><br>
   <a href="#">말레이시아</a><br>
   <a href="#">몰디브</a><br>
   <a href="#">미얀마</a><br>
   <a href="#">베트남</a><br>
   <a href="#">브루나이</a><br>
   <a href="#">인도네시아</a><br>
   <a href="#">캄보디아</a><br>
   <a href="#">태국</a><br>
   <a href="#">필리핀</a><br>

</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">중국/일본</a></div>
  <hr style="width:95%;">
   <a href="#">일본<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">중국<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>


</div>
<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">홍콩/마카오/대만/싱가폴</a></div>
  <hr style="width:95%;">
   <a href="#">홍콩</a><br>
   <a href="#">마카오</a><br>
   <a href="#">대만</a><br>
   <a href="#">싱가폴</a><br>

</div>
<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">국내</a></div>
  <hr style="width:95%;">
   <a href="#">대한민국<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>

</div>

</div>
<br><br>
<div class="row" style="width:110%;"> <!-- 아시아(이어서) -->

<div class="col-sm-12 col-md-3">
  <a href="#" style="color:#939c9f;"></a>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div><a href="#" style="color:#939c9f;">중동</a></div>
  <hr style="width:95%;">
   <a href="#">아랍에미리트<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>
   <a href="#">아제르바이잔</a><br>
   <a href="#">요르단</a><br>
   <a href="#">이스라엘</a><br>
   <a href="#">카타르</a><br>

</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">인도/중남아시아</a></div>
  <hr style="width:95%;">
   <a href="#">네팔</a><br>
   <a href="#">몽골</a><br>
   <a href="#">인도</a><br>
   <a href="#">카자흐스탄</a><br>
</div>


</div>
<br><br>
<div class="row" style="width:110%;"> <!-- 아메리카 -->

<div class="col-sm-12 col-md-3">
  <a href="#" style="color:#939c9f;font-size:20px;">아메리카</a>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div><a href="#" style="color:#939c9f;">미국/캐나다</a></div>
  <hr style="width:95%;">
   <a href="#">미국</a><br>
   <a href="#">캐나다<i class="fas fa-star" style="color:#4d94ff;"></i></a><br>


</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">중남미</a></div>
  <hr style="width:95%;">
   <a href="#">괴테밀라</a><br>
   <a href="#">도미니카 공화국</a><br>
   <a href="#">멕시코</a><br>
   <a href="#">바하마</a><br>
   <a href="#">버진아일랜드</a><br>
   <a href="#">볼리비아</a><br>
   <a href="#">브라질</a><br>
   <a href="#">아르헨티나</a><br>
   <a href="#">엘살바도르</a><br>
   <a href="#">우루과이</a><br>
   <a href="#">칠레</a><br>
   <a href="#">코스타리카</a><br>
   <a href="#">콜롬비아</a><br>
   <a href="#">쿠바</a><br>
   <a href="#">파나마</a><br>
   <a href="#">페루</a><br>

</div>


</div>
<br><br>
<div class="row" style="width:110%;"> <!-- 오세아니아 -->

<div class="col-sm-12 col-md-3">
  <a href="#" style="color:#939c9f;font-size:20px;">오세아니아</a>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div><a href="#" style="color:#939c9f;">호주/뉴질랜드</a></div>
  <hr style="width:95%;">
   <a href="#">뉴질랜드</a><br>
   <a href="#">오스트레일리아</a><br>

</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div ><a href="#" style="color:#939c9f;">남태평양</a></div>
  <hr style="width:95%;">
   <a href="#">괌 <i class="far fa-thumbs-up" style="color:#4d94ff;"></i></a><br>
   <a href="#">사이판<i class="fas fa-star" style="color:#4d94ff;font-size:13px;padding-bottom:3px;"></i></a><br>
   <a href="#">팔라우 <i class="fab fa-hotjar" style="color:#e60000;"></i></a><br>

</div>


</div>
<br><br>
<div class="row" style="width:110%;"> <!-- 아프리카 -->

<div class="col-sm-12 col-md-3">
  <a href="#" style="color:#939c9f;font-size:20px;">아프리카</a>
</div>

<div id="cities" class="col-sm-12 col-md-2">
  <div><a href="#" style="color:#939c9f;">아프리카</a></div>
  <hr style="width:95%;">
   <a href="#">남아프리카 공화국</a><br>
   <a href="#">모로코</a><br>

</div>

</div>
<div class="text-right"><i class="fas fa-star" style="color:#4d94ff;font-size:13px;"></i> - 인기 </div>
<br><br><br>
</div>
</div>
</div>

<!-- /city list -->

<% include ./partials/footer %>
</body>
</html>
