<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


    <!-- jquery slide selector -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <center>
      <br><br><br><br>
      <h4>트렉스를 통해 간편하게<br>
      현지 팀원을 찾아보세요.</h4>
      <br><br><br><br><br><br>
      <div class="row">
        <div class="col" style="max-width: 20%;">
          img
        </div>
        <div class="col" style="max-width: 10%;">
          <h3>1. 견적서 요청</h3><br>
          검색 또는 서비스 선택을 통해 필요하신<br>
          서비스를 선택하시고 몇가지 질문을 통해<br>
          업무에 알맞는 파트너님들의 견적서를<br>
          무료로 받아보세요.

        </div>
      </div>
    </center>

  </body>
</html>
