<html>
    <head>
        <meta charset="utf-8">
        <style>
            .showBttn {
                display: inline !important;
            }
            .btn-primary {
                /* display: inline !important; */
                background-color:#f58b44 !important;
                border-color:#f58b44 !important;
            }
            .btn-primary:hover {
                cursor: pointer;
                /* background-color: #00b3db !important;
                border-color: #00b3db !important; */
                opacity: 0.9;
            }
            .card:hover {
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);

            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;

            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;

            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;

            }
            .card{
                border: 1px solid rgba(0, 0, 0, 0.5);
              radius: 50%;
                border-radius: 3px;
                -webkit-transition: 200ms ease-in-out;
              	-o-transition: 200ms ease-in-out;
              	transition: 200ms ease-in-out;
            }
            /* .card:hover{
              transform: translate3d(0, -1%, 0);
            	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
            	        box-shadow: 0 2px 1px rgba(0,0,0,0.2);
            } */
            .card-image{
                transform: translate3d(0, 50px, 0);
            }

        </style>

        <title>Member - 트렉스</title>

        <% include ./partials/header %>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
          <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <% include ./partials/profileedit-image %>
        <% include ./partials/profileedit-background %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">계정 관리</p>
                        <div class="menu">
                            <a class="partnerprofileinfo profileactive" href="/user_profile/partnerProfile">프로필 관리</a>
                            <a class="taskreservationinfo" href="/user_profile/tasks">업무 예약 관리</a>
                            <a class="scheduleinfo" href="/user_profile/schedule">일정 관리</a>
                            <% if (currentUser.messageNotification) { %>
                                <i class="fas fa-circle fa-xs" style="color:red;font-size:10px;margin-bottom:3px;"></i>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } else { %>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } %>
                            <a class="paymentinfo" href="/user_profile/payment_info">정산 계좌 등록</a>
                            <a class="accountinfo" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12" style="padding:0% 0% 0% 5.2%;">
                        <div class="backgroundimg">
                            <% if (currentUser.coverPhoto) { %>
                                <img id="kokoman" src="/coverPhoto/<%= currentUser.coverPhoto %>">
                            <% } else { %>
                                <img id="kokoman" src="/static/images/slider/slider-4-montreal.jpg">
                            <% } %>
                            <div class="changefade">
                                배경 사진 바꾸기
                                <span class="camera"></span>
                            </div>
                        </div>

                        <div class="mainimg">
                        <% if (currentUser.profilePic) { %>
                            <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>">
                        <% } else { %>
                            <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                            <div class="changeslider">
                                사진 바꾸기<br/>
                                <span class="camera"></span>
                            </div>
                        </div>

                        <p class="userName"><%= currentUser.name %></p>
                    </div>

                    <div class="col-md-8">
                        <div class="row sections basic" id="basic">

                            <p class="basictitle" style="width:100%;"><b>파트너 프로필 생성</b></p>

                            <div class="divider"></div>

                            <form id="createProfile" action="/user_profile/create_new_profile" method="post"></form>
                            <div class="container" style="margin-left:10%;margin-top:50px;margin-bottom:100px; align-items: center">
                                <div class="sectionContent">
                                    <div class="row" style="display: absolute; min-height: 250px;">
                                        <div class="container2 col-md-3 col-sm-6 card" style="margin-right:50px !important; margin-left: 90px; width: 400px; height: 250px;">
                                            <!-- <button type="submit" form="createProfile" name="type" value="freelancer" style="width: 177px; height: 250px"> -->
                                            <button type=button data-toggle="modal" data-target="#confirmFreelancerModal">
                                                <div class="centered">
                                                    <!-- <img src="/static/images/nibbler.jpeg" style="height:250px; width:300px;"> -->
                                                    <!-- <i class="far fa-user" style="height:250px; width:135px; background-color:black;"></i> -->
                                                    <img src="/static/images/freelancer.jpg" style="height: 250px; width: 250px" alt="프리랜서사진">
                                                </div>
                                                <div class="centered card-image" style="width:100%;">프리랜서</div>
                                            </button>


                                            <div class="modal fade" id="confirmFreelancerModal" tabindex="-1" role="dialog" aria-labelledby="confirmFreelancerModalTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmFreelancerModalLongTitle">프리랜서 확인</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            프리랜서 프로필을 생성하시겠습니까? 이후에 변경할 수 없습니다.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                                                            <!-- <button form="createProfile" class="btn btn-primary showBttn">확인</button> -->
                                                            <button type="submit" form="createProfile" name="type" class="btn btn-primary showBttn" value="freelancer">확인</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="container2 col-md-3 col-sm-6 card" style="margin-left:50px !important; width: 400px; height: 250px;">
                                            <!-- <button type="submit" form="createProfile" name="type" value="agency" style="width:177px; height: 250px;">
                                                <div class="centered">
                                                    <img src="/static/images/nibbler.jpeg" style="height:250px; width:300px;">
                                                </div>
                                                <div class="centered" style="width:100%;">에이전시</div>
                                            </button> -->

                                            <button type=button data-toggle="modal" data-target="#confirmAgencyModal">
                                                <div class="centered">
                                                    <!-- <img src="/static/images/nibbler.jpeg" style="height:250px; width:300px;"> -->
                                                    <!-- <i class="far fa-building" style="height:250px; width:135px; background-color:black;"></i> -->
                                                    <img src="/static/images/agency.jpg" style="height: 250px; width: 250px;" alt="">
                                                </div>
                                                <div class="centered card-image" style="width:100%; color: black">에이전시</div>
                                            </button>


                                            <div class="modal fade" id="confirmAgencyModal" tabindex="-1" role="dialog" aria-labelledby="confirmAgencyModalTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmAgencyModalLongTitle">에이전시 확인</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            에이전시 프로필을 생성하시겠습니까? 이후에 변경할 수 없습니다.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                                                            <!-- <button form="createProfile" class="btn btn-primary showBttn">확인</button> -->
                                                            <button type="submit" form="createProfile" name="type" class="btn btn-primary showBttn" value="agency">확인</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>

                </div>
            </div>
        </div>

    <script src="/static/scripts/changeimg.js"></script>
    <script src="/static/scripts/profileedit.js"></script>

    <% include ./partials/footer %>

    </body>
</html>
