<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>파트너 찾기</title>


    <!-- dropdown 스타일링   -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="tail.select-bootstrap4.css" rel="stylesheet"/> -->





    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


    <!-- jquery slide selector -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!-- glyphicon -->
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../static/stylesheets/findtask.css">





    <!-- <script>
    $(function(){
      $('.dates #user1').datepicker({
        'format' : 'yyyy-mm-dd',
        'autoclose': true
      });
    });
    </script> -->
    <% include ./partials/navbar %>

  <style>

  #kokoman {
  width: 100%;
  height: 35%;
  background-image: url("../static/images/slider/slider-2-london.jpg");
  background-size: cover;
  }

  #avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-size: cover;
  }
  #profile{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  #slider-range .ui-slider-handle { border-color: rgb(0, 132, 137); }
  #slider-range .ui-slider-range { background: rgb(0, 132, 137); }
  </style>

  </head>
  <body onload="dontdoit()">

  <div id="momtong" style="margin: 0 5%">
    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding-bottom: 10px;
    padding-top: 20px" id="bbak">



    <span>
    <button aria-haspopup="true" aria-expanded=
    "false" aria-controls="menuItemComponent-guest_picker" class="_1i67wnzj dropbtn"
    style="margin: 5px;" id="login">
      <div>
        인원<span id="inwon"></span>
      </div>
    </button>

        <div id="registerModal" role="dialog" aria-hidden="true"
          class="modal in modal_site_login ui-draggable" data-backdrop="true"
          data-keyboard="true">
          <div class="modal-dialog">
            <div class="modal-content" id="registercontent">
              <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled"
                      data-type="minus" data-field="quant[1]">
                      <i class="fa fa-minus"></i>
                    </button>
                </span>
                <input type="text" id="memi" name="quant[1]" class="form-control input-number" value="0" min="0" max="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </span>


    <input type="button" name="daterange" value="업무날짜" id="nal"
    placeholder="업무날짜" class="dropbtn datepicker" style="margin: 5px;">






<!--
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 text-right">
            <select id="select1">
              <option selected="selected">업종/전공</option>
              <option>ㅏㅎ미나히</option>
              <option>ㅣ해많냄ㅎ</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>

            </select>

          </div>
          <div class="col-md-6">
            <select multiple id="select2">
              <option selected="selected">업종/전공</option>
              <option>ㅏㅎ미나히</option>
              <option>ㅣ해많냄ㅎ</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
            </select>
          </div>
        </div>
      </div> -->




  <div class="dropdown" style="margin: 5px;">
    <button onclick="myFunction()" class="dropbtn" id="monsta">업종/전공</button>
    <div id="myDropdown" class="dropdown-content checkbox">
      <input type="checkbox" class="rebut" id="checkbox_1"><label for="checkbox_1">과학</label><br>
      <input type="checkbox" class="rebut" id="checkbox_2"><label for="checkbox_2">IT/기술</label><br>
      <input type="checkbox" class="rebut" id="checkbox_3"><label for="checkbox_3">교육</label><br>
      <input type="checkbox" class="rebut" id="checkbox_4"><label for="checkbox_4">금융/회계</label><br>
    </div>
  </div>

  <div class="dropdown" style="margin: 5px;">
    <button onclick="myFunction2()" class="dropbtn" style="margin-right: 5px;"
    id="monsta2">서비스</button>
    <div id="myDropdown2" class="dropdown-content checkbox">
      <input id="checkbox_5" class="rebut2" type="checkbox"><label for="checkbox_5">통역</label>
      <input id="cha" class="rebut2" type="checkbox"><label for="cha">차량</label>
      <input type="checkbox" class="rebut2" id="elsee"><label for="elsee">등등</label>
    </div>
  </div>


    <div class="dropdown" style="margin: 5px;z-index: 6; position: absolute">
      <button class="dropbtn moneybar" id="moneybar">
      시급
      <span id="paymentis" class="money">
      </span>
    </button>

      <div id="money" class="money w3-display-left" style="padding: 20px; background-color: #fff;
      border: 0.5px solid rgba(0, 0, 0, 0.4);display: none; margin-top: 7px;">
      <div class="header money">
        평균 시급은 23,400원 입니다.
      </div>
      <br>
      <div style="margin-bottom: 30px;"><span class="money" style="float: left;">0원</span>
        <span class="money" style="float: right;">50000원</span></div>
      <!-- <input type="text" id="amount" class="money"readonly style="border:0; color:#f6931f; font-weight:bold;"> -->
      <div id="slider-range" class="money"></div>

      <!-- <input type="range" onclick=""
      min="1" max="100" value="50" class="dropbtn money range"
      style="margin: 5px;"> -->
      <br><br>
      <input class="money js-input" type="text" id="leasts" placeholder="최소"> -
      <input class="money js-input" type="text" id="maxs"
      placeholder="최대"></div></div>










  <label class="switch" style="float: right;" id="switch">
    <input type="checkbox" id="roundswitch" onclick="myFunction5()"
    style="margin-left: 5px;" checked>
    <span class="slider round"></span>
  </label>
  <span id="gdo" style="float: right; transform: translate3d(-15%, 15%, 0)">지도보기   </span>


  <form class="form-inline" style="float: right">
    <input type="text" class="form-control mr-sm-2" paceholder="Search" aria-label="Search">
    <button style="transform: translate3d(-50px, 0, 0); background: transparent;"
    class="btn my-sm-0" type="submit"><i class="fas fa-search"></i>
    </button>

  </form>

</div>

  <br>

<!-- price range selector -->
<script>
$( function() {
  $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 0, 500 ],
    slide: function( event, ui ) {
      $( "#least" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ));
      $( "#max" ).val( "$" + $( "#slider-range" ).slider( "values", 1 ));
    }
  });
  // $( "#least" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ));
  // $( "#max" ).val( "$" + $( "#slider-range" ).slider( "values", 1 ));

} );
</script>

  <div class="wrapper" id="wrapper" style="width: 50%; height: 550px; overflow-y:scroll;
    overflow-x: hidden; float:left; position: relative; margin:0;
    padding-left: 2.5%; padding-right: 2.5%;">
    <div id="sliders">
      <div class="row" id="formore" style="margin-bottom: 10px; cursor: pointer;">
        <!-- <a href="https://platum.kr/archives/115769" target="_blank"> -->
          <div class="col" id="left">
            <div class="leftside">
              <center>
                <img id="avatar" src="static/images/nibbler.jpeg">
              </center>
            </div>
          </div>
        <div class="col" id="right">
            <div class="rightside">
              <br>
              <div class="text-left">
                <h4>트렉스 #통역업무 @영국</h4>
              </div>
          <div class="text-left">
            <span class="body-trex" >9월 7일날 스케쥴 어떠세요?<i class="fas fa-angle-right"></i></span>
            <br><br>
            자동차 전시회 함께 참여하여...
          </div>

        </div>
      </div>
        <!-- </a> -->

    </div>
    <div class="row" style="margin-bottom: 10px;">
      <!-- <a href="https://platum.kr/archives/115769" target="_blank"> -->
        <div class="col" id="left">
          <div class="leftside">
            <center>
              <img id="avatar" src="static/images/nibbler.jpeg">
            </center>
          </div>
        </div>
      <div class="col" id="right">
          <div class="rightside">
            <br>
            <div class="text-left">
              <h4>트렉스 #통역업무 @영국</h4>
            </div>
        <div class="text-left">
          <span class="body-trex" >9월 7일날 스케쥴 어떠세요?<i class="fas fa-angle-right"></i></span>
          <br><br>
          자동차 전시회 함께 참여하여...
        </div>

      </div>
    </div>
      <!-- </a> -->

  </div>
  <div class="row" style="margin-bottom: 10px;">
    <!-- <a href="https://platum.kr/archives/115769" target="_blank"> -->
      <div class="col" id="left">
        <div class="leftside">
          <center>
            <img id="avatar" src="static/images/nibbler.jpeg">
          </center>
        </div>
      </div>
    <div class="col" id="right">
        <div class="rightside">
          <br>
          <div class="text-left">
            <h4>트렉스 #통역업무 @영국</h4>
          </div>
      <div class="text-left">
        <span class="body-trex" >9월 7일날 스케쥴 어떠세요?<i class="fas fa-angle-right"></i></span>
        <br><br>
        자동차 전시회 함께 참여하여...
      </div>

    </div>
  </div>
    <!-- </a> -->

</div>
<div class="row" style="margin-bottom: 10px;">
  <!-- <a href="https://platum.kr/archives/115769" target="_blank"> -->
    <div class="col" id="left">
      <div class="leftside">
        <center>
          <img id="avatar" src="static/images/nibbler.jpeg">
        </center>
      </div>
    </div>
  <div class="col" id="right">
      <div class="rightside">
        <br>
        <div class="text-left">
          <h4>트렉스 #통역업무 @영국</h4>
        </div>
    <div class="text-left">
      <span class="body-trex" >9월 7일날 스케쥴 어떠세요?<i class="fas fa-angle-right"></i></span>
      <br><br>
      자동차 전시회 함께 참여하여...
    </div>

  </div>
</div>
  <!-- </a> -->

</div>
<div class="row" style="margin-bottom: 10px;">
  <!-- <a href="https://platum.kr/archives/115769" target="_blank"> -->
    <div class="col" id="left">
      <div class="leftside">
        <center>
          <img id="avatar" src="static/images/nibbler.jpeg">
        </center>
      </div>
    </div>
        <div class="col" id="right">
            <div class="rightside">
              <br>
              <div class="text-left">
                <h4>트렉스 #통역업무 @영국</h4>
              </div>
          <div class="text-left">
            <span class="body-trex" >9월 7일날 스케쥴 어떠세요?<i class="fas fa-angle-right"></i></span>
            <br><br>
            자동차 전시회 함께 참여하여...
        </div>

      </div>
    </div>


    </div>

  </div>
</div>


      <div id="map"></div>


      <div id="sliderss" style="display: none; width: 50%; height: 550px; margin-left: 52% ;overflow-y:scroll;
      overflow-x: hidden">
        <div class="row" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding-bottom: 10px">
          <!-- <a href="https://platum.kr/archives/115769" target="_blank"> -->
            <div class="col" id="left">
              <div class="leftside">
                <center>
                  <img id="avatar" src="static/images/nibbler.jpeg">
                </center>
              </div>
            </div>
          <div class="col" id="right">
              <div class="rightside">
                <button class="close" id="close" data-dismiss="modal" aria-label="Close">+</button><br>
            <div class="text-left">
              <h4>트렉스 #통역업무 @영국</h4>
            </div>
            <div class="text-left">
              <span class="body-trex" >Trex, <i class="fas fa-map-marker-alt"></i> Montreal, CA</span>
              <br><br>
              게시일: 3일 전  조회 42
            </div>
            <div class="text-right">
              <a href="" style="border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px;">저장</a>
              <a href="" style="border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px;
              margin-right: 10px; background-color: #0073b1; color: #fff">
                지원</a>
            </div>
          </div>
        </div>


      </div>
      <div class="row" id="moreinfo" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin-bottom: 10px;">
          <div class="col">
            <h6>채용공고</h6>
            <ul style="margin=0; padding: 0;list-style-type: none;">
              <li>지원자 0명</li>
              <li>해당 없음</li>
            </ul>
          </div>
          <div class="col" style="border-right: 1px solid rgba(0, 0, 0, 0.2); border-left:1px solid rgba(0, 0, 0, 0.2);">
            <h6>회사</h6>
            <ul style="margin=0; padding: 0;list-style-type: none;">
              <li>직원 16,003명</li>
              <li>Sunnyvale, CA</li>
            </ul>
          </div>
          <div class="col">
            <h6>1촌</h6>
            <ul style="margin=0; padding: 0;list-style-type: none;">
              <li>동문 74명</li>
            </ul>
          </div>

      </div>
      <div class="row" style="padding: 15px; display: block">
        <h4 class="text-left">주요업무</h4>
        <h6 class="text-left">게시자: </h6>
        <img style="float: left;"id="profile" src="static/images/nibbler.jpeg">
        <div style="transform: translate3d(1.3%, 0, 0)">
          <div class="text-left">Jessica Kim</div>
          <div class="text-left">Open[IN] doors for top sales talent!</div><br>
        </div><br>
        <div class="bodyinfo text-left">
          Sales Development Representative 1<br><br>
          LinkedIn was built to help professionals achieve more in their careers,
          and every day millions of people use our products to make connections, discover
          opportunities and gain insights. Our global reach means we get to make a direct
          impact on the world’s workforce in ways no other company can. We’re much more
          than a digital resume - we transform lives through innovative products and technology.
          LinkedIn was built to help professionals achieve more in their careers,
          and every day millions of people use our products to make connections, discover
          opportunities and gain insights. Our global reach means we get to make a direct
          impact on the world’s workforce in ways no other company can. We’re much more
          than a digital resume - we transform lives through innovative products and technology.
          <br><br>Job Description<br><br>
          Our Client in North York offers fully integrated fiber optic sensing technology to deliver accurate and continuous monitoring of multidimensional performance data for many industrial applications. This product offering is an end-to-end hardware/software platform integrated with Industrial Internet of Things (IIoT). Their products are used in harsh environments, hard-to-access locations and heavy-duty applications where conventional sensor technologies fail, lose performance or cannot be effectively deployed.
        </div>
      </div>

    </div>

    </div>


    <script>
      function initMap() {
          //Map options
          var options = {
            zoom: 12,
            center: {lat: 45.510260, lng: -73.575745}
          }

          //New map
          var map = new google.maps.Map(document.getElementById("map"), options);

          var markers = [];

          // Loop through and add markers
          for(var i = 0; i < markers.length; i++){
            addMarker(markers[i]);
          }

          var lastInfoWindow = false;

          function addMarker(props){
            var marker = new google.maps.Marker({
              position: props.coords,
              map:map
            });

            // Check for customicon
            if(props.iconImage){
              // Set icon image
              marker.setIcon(props.iconImage);
            }

            //Check contents
            if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content:props.content
              });

              marker.addListener('click', function(){
                // Close last opened infowindow so that only one is open
                if (lastInfoWindow) {
                  lastInfoWindow.close();
                }
                lastInfoWindow = infoWindow;
                infoWindow.open(map, marker);
              });

              // Add event listener for closing the infowindow when clicked on map
              google.maps.event.addListener(map, "click", function(event) {
                infoWindow.close();
              });

            }

          }

      }

    </script>

    <script src="/static/scripts/findtask.js"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmDeQATlbFJtZfqNZQQAAMgdDNfT7Z078&callback=initMap"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapAPI%>&callback=initMap" async defer></script>

</script>
  </body>
</html>
