<html>
<head>
  <meta charset="utf-8">
  <title>트렉스 - 로그인하기</title>
  <style media="screen">
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="modal-body">
      <div class="login_content">
        <h4 class="modal-title" id="5cf81abcec8e0_memberModalLoginLabel">
          로그인
        </h4>



      <form action="/auth/login" method="POST"
      style="max-width: 600px;" class="noo-ajax-login-form form-horizontal"
      action="">
        <div style="display: none">
           <input type="hidden" name="action" value="noo_ajax_login">
           <input type="hidden" class="security" name="security" value="4fbcb86302">
        </div>
      <div class="form-group text-center noo-ajax-result" style="display: none">

      </div>
      <div class="form-group row login-socical login-socical-new">
        <div class="col-sm-9 col-xs-12">

          <a href="/auth/facebook" class='btn btn-info' style="background-color: #3b5998; color: white;
          margin-bottom: 10px;">
            <span id="facebookIcon" style="color: white;">
              <i class="fab fa-facebook-f fa-lg"></i></span>
              Sign in with Facebook
          </a>


    <a href="/auth/google" class='btn btn-info' style="margin-bottom: 10px;">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="25" height="25"
        viewBox="0 0 48 48"
        style=" fill:#000000;"><g id="surface1"><path style=" fill:#FFC107;" d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 33.652344 32.65625 29.222656 36 24 36 C 17.371094 36 12 30.628906 12 24 C 12 17.371094 17.371094 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 12.953125 4 4 12.953125 4 24 C 4 35.046875 12.953125 44 24 44 C 35.046875 44 44 35.046875 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z "></path><path style=" fill:#FF3D00;" d="M 6.304688 14.691406 L 12.878906 19.511719 C 14.65625 15.109375 18.960938 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 16.316406 4 9.65625 8.335938 6.304688 14.691406 Z "></path><path style=" fill:#4CAF50;" d="M 24 44 C 29.164063 44 33.859375 42.023438 37.410156 38.808594 L 31.21875 33.570313 C 29.210938 35.089844 26.714844 36 24 36 C 18.796875 36 14.382813 32.683594 12.71875 28.054688 L 6.195313 33.078125 C 9.503906 39.554688 16.226563 44 24 44 Z "></path><path style=" fill:#1976D2;" d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 34.511719 30.238281 33.070313 32.164063 31.214844 33.570313 C 31.21875 33.570313 31.21875 33.570313 31.21875 33.570313 L 37.410156 38.808594 C 36.972656 39.203125 44 34 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z "></path></g></svg>
        Sign in with Google+
    </a>
  </div>
  </div>

  <div class="form-group row required-field">

      <div class="col-sm-9">
          <input type="text" class="log form-control" id="5cf81abcec9b5_log" name="log" required="" value="" placeholder="이메일">
      </div>
  </div>
  <div class="form-group row required-field">

      <div class="col-sm-9">
          <input type="password" id="5cf81abcec9b5_pwd" class="pwd form-control" required="" value="" name="pwd" placeholder="비밀번호">
      </div>
 </div>


     <div class="form-group row">
         <div class="col-sm-9 col-sm-offset-3">
             <div class="checkbox">
                  <div class="form-control-flat"><label class="checkbox">
                    <input type="checkbox" id="5cf81abcec9b5_rememberme" class="rememberme"
                    name="rememberme" value="forever"><i></i> 기억하기</label></div>
             </div>
         </div>
     </div>
     <div class="form-actions form-group text-center">
         <input type="hidden" class="redirect_to" name="redirect_to" value="https://trexservice.com?logged_in=1">
           <button type="submit" class="btn btn-primary" style="background:#F9C700;">
           <span style="color:#fff;">로그인</span>
         </button>
         <div class="login-form-links">
             <span><a href="https://trexservice.com/member/lost-password/"><i class="fa fa-question-circle"></i>
               <span style="color:#F9C700;">비밀번호를 잊어버리셨나요?</span></a></span>
               <span>아직 계정이 없으신가요?
               <a href="" class="member-register-link" id="registerhagi">
                 <span style="color:#F9C700;">가입하기</span>
                 <i class="fa fa-long-arrow-right"></i></a></span>
         </div>
     </div>
    </form>
  </div>


</html>
