<html>
<head>
  <meta charset="utf-8">
  <title>트렉스 - 로그인하기</title>

  <% include ./partials/header %>

  <style media="screen">
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>

    <% include ./partials/navbar %>

    <!-- toggle active link button -->
    <script>
        $(document).ready(() => {
            // $(".navactive").toggleClass("navactive");
            $("#loginlink").toggleClass("navactive");
        });
    </script>
    <!-- end -->

    <link rel="stylesheet" href="/static/stylesheets/auth.css">

<center>
  <div class="modal-body">
      <div class="auth_content">
        <h3>
          <p>긱풀/트렉스에 오신걸 환영합니다</p>
        </h3>

        <div class="choicetabs">
            <div class="loginasclient active"><p>클라이언트</p></div>
            <div class="loginaspartner"><p>파트너</p></div>
        </div>
        <div class="loginform">

            <% if (error.length > 0) { %>
              <span style="color: red"><%= error %></span>
            <% } %>

            <form class="clientform active" action="/auth/login/client" method="POST">
              <p style="text-align:center;color:black;">클라이언트로 로그인하기</p><br>
                <p>이메일</p>
                    <input type="text" class="log form-control" name="email" required>
                <p>비밀번호</p>
                    <input type="password" class="pwd form-control" name="password" required>
                    <div class="login-form-links">
                        <span><a href="/auth/reset/client"><i class="fa fa-question-circle"></i>
                        <span style="color:#F9C700;">클라이언트 비밀번호 찾기</span>
                    </a></span>
                    </div>

                    <input class="btn btn-primary form-control" type="submit" value="클라이언트로 로그인">
            </form>

            <form class="partnerform" action="/auth/login/partner" method="POST">
              <p style="text-align:center;color:black;">파트너로 로그인하기</p><br>
                <p>이메일</p>
                    <input type="text" class="log form-control" name="email" required>
                <p>비밀번호</p>
                    <input type="password" class="pwd form-control" name="password" required>
                    <div class="login-form-links">
                        <span><a href="/auth/reset/partner"><i class="fa fa-question-circle"></i>
                        <span style="color:#F9C700;">파트너 비밀번호 찾기</span>
                    </a></span>
                    </div>

                    <input class="btn btn-primary form-control" type="submit" value="파트너로 로그인">
            </form>


            <div class="form-group clientform active">
                <p class="secondchoice">OR</p>
                <div class="facebook">
                    <a href="/auth/facebook/client" class='btn btn-info'>
                        <img src="/static/icons/facebook-app-logo.svg" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:15px;">페이스북으로 클라이언트 로그인하기</span>
                    </a>
                </div>
                <div class="google">
                    <a href="/auth/google/client" class='btn btn-info'>
                        <img src="/static/icons/google.svg" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:15px;">Google+로 클라이언트 로그인하기</span>

                    </a>
                </div>

                <div class="naver">
                    <a href="/auth/naver/client" class='btn btn-info'>
                        <img src="/static/icons/naver-logo.png" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:20px;">네이버로 클라이언트 로그인하기</span>
                    </a>
                </div>

                <div class="kakaotalk">
                    <a href="/auth/kakao/client" class='btn btn-info'>
                        <img src="/static/icons/kakaotalk.svg" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:20px;">카카오로 클라이언트 로그인하기</span>
                    </a>
                </div>

            </div>



            <div class="form-group partnerform">
                <p class="secondchoice">OR</p>
                <div class="facebook">
                    <a href="/auth/facebook/partner" class='btn btn-info'>
                        <img src="/static/icons/facebook-app-logo.svg" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:25px;">페이스북으로 파트너 로그인하기</span>
                    </a>
                </div>
                <div class="google">
                    <a href="/auth/google/partner" class='btn btn-info'>
                        <img src="/static/icons/google.svg" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:25px;">Google+로 파트너 로그인하기</span>

                    </a>
                </div>

                <div class="naver">
                    <a href="/auth/naver/partner" class='btn btn-info'>
                        <img src="/static/icons/naver-logo.png" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:35px;">네이버로 파트너 로그인하기</span>
                    </a>
                </div>

                <div class="kakaotalk">
                    <a href="/auth/kakao/partner" class='btn btn-info'>
                        <img src="/static/icons/kakaotalk.svg" width="25" height="25"></img>
                        <span id="socialText" style="margin-left:35px;">카카오로 파트너 로그인하기</span>
                    </a>
                </div>

            </div>
        </div>

        <span>아직 계정이 없으신가요?
        <a href="/auth/register" class="member-register-link" id="registerhagi">
        <span style="color:#F9C700;">가입하기</span>
        <i class="fa fa-long-arrow-right"></i></a></span>
    </div>
</div>
</center>

<script src="/static/scripts/auth.js"></script>

</body>


</html>
