<!DOCTYPE html>
<html lang="en">
<head>
  <title>해외 업무에 현지 팀원이 필요할 때 - 트렉스</title>
  <meta charset="utf-8">
  <% include ./partials/header %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="../static/stylesheets/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/scripts/autocomplete.js"></script>

<style>
/* Style the form */
#regForm {
background-color: #ffffff;
margin: 100px auto;
padding: 40px;
width: 70%;
min-width: 300px;
}

/* Style the input fields */
input {

width: 100%;
font-size: 17px;
font-family: Raleway;
border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none;
display: inline-block;
opacity: 0.5;
}

/* Mark the active step: */
.step.active {
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #4CAF50;
}

.s2 {
  width: 85%;
  height: 400px;
  overflow:hidden;
}


</style>
</head>

<body id="bodyfont">
    <% include ./partials/navbar %>
    <% include ./partials/task_request_form %>

<div class="">
</div>
  <!-- Carousel Section -->
  <div class="container-fluid" id="mainDiv" style="padding:0px;">

  <div id="slides" class="carousel slide" data-ride="carousel" data-interval="3000" >

  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
  </ul>

  <div class="carousel-inner" style="box-shadow:none !important;">
    <div class="carousel-item active">
      <img id="slider-images2" src="/static/images/slider/new_ny.png" class="center responsive"  >
      <!-- <div class="bottom-right">NEW YORK</div> -->
    </div>

    <div class="carousel-item">
      <img id="slider-images3" src="/static/images/slider/new_london.png" class="center responsive" >
      <!-- <div class="bottom-right">LONDON</div> -->
    </div>

    <!-- <div class="carousel-item">
      <img id="slider-images" src="/static/images/slider/slider-3-tokyo.jpg" class="center responsive" >

      <div class="bottom-right">TOKYO</div>
    </div>

    <div class="carousel-item">
      <img id="slider-images" src="/static/images/slider/slider-4-montreal.jpg" class="center responsive" >

      <div class="bottom-right">MONTREAL</div>
    </div> -->

  </div>

  <div id="caption-carousel" class="main_carousel" style="display:block;width:100%;">

      <h1>어디로 출장 가시나요?</h1>

      <h2 class="text-center">출장지나 파트너를 검색 해보세요!</h2>
      <br>
      <form autocomplete="off" id="searchbox" class="text-center" action="/action_page.php" target="_blank" method="POST" >
        <div class="input-group">


           <input  id="tags1" type="text" class="form-control" placeholder="필요하신 서비스가 무엇인가요?" name="search" style="width:65%;">
           <input id="tags2" type="text" class="form-control" placeholder="국가" name="search" style="width:20%;border-right:none;" >

           <button id="search_btn" class="btn " type="submit" >
           <i class="fas fa-search"></i></button>
        </div>
      </form>


  </div>
</div>
</div>
  <!-- End of Carousel Section -->


<!-- 기업 섭외 견적 요청 -->
<div class="lunchbox">


    <div class="swiper-container swiper1">
        <div class="swiper-wrapper servicelist">
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/1.translationservice.jpg" class="center" >
                        <div class="centered">현지 통역</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/2.rideservice.jpg" class="center" >
                        <div class="centered">현지 차량</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/3.translationservice2.jpg" >
                        <div class="centered">번역</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">현지 기관 섭외</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE1</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE2</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE3</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE4</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE5</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE6</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE7</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE8</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE9</div>
                    </a>
                </figure>
            </div>
            <div class="swiper-slide container2">
                <figure class="imagewrapper">
                    <a href="#" data-toggle="modal" data-target="#myModal2"><img id="request-service" src="/static/images/request-service-estimate/4.castagency.jpg" class="center" >
                        <div class="centered">SAMPLE10</div>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination1"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
        <img src="/static/icons/next.svg" style="width: 40px;">
    </div>
    <div class="swiper-button-prev">
        <img src="/static/icons/prev.svg" style="width: 40px;">
    </div>

</div>

<!-- /기업 섭외 견적 요청 -->
<!-- 트렉스 간편 이용 방법 section-->
<div class="container-fluid padding text-center" >

  <h1 id="heading" >트렉스 간편 이용 방법</h1><hr style="width:100px;border:1px #595959 solid;"><br>
  <div class="container">
<div class="sectionContent">
<div class="row">
  <div class="col-md-4 col-sm-4">
    <img src="/static/images/trex-simple-use/1.searchpartner.png" class="center" style="height: 100px; width: 100px; margin-bottom:10px;-o-object-fit: contain;">
    <h2 class="steptitle">1.파트너 검색</h2>
    <div class="stepdesc">출장지를 검색하고 알맞는 파트너에게 업무를 문의하세요.</div>
  </div>

  <div class="col-md-4 col-sm-4">
    <img src="/static/images/trex-simple-use/2.reservepay.png" class="center" style="height: 100px; width: 100px;margin-bottom:10px;-o-object-fit: contain;">
    <h2 class="steptitle">2.예약 결제</h2>
    <div class="stepdesc">업무일자를 입력하고 예약을 확정지으세요.</div>
  </div>

  <div class="col-md-4 col-sm-4">
    <img src="/static/images/trex-simple-use/3.proceed.png" class="center" style="height: 100px; width: 100px;margin-bottom:10px;-o-object-fit: contain;">
    <h2 class="steptitle">3.업무 진행</h2>
    <div class="stepdesc">성공적으로 업무를 진행하고 파트너 리뷰를 작성해주세요.</div>
  </div>
</div>
</div>
</div>
</div>
<!-- end of 트렉스 간편 이용 방법 section -->

<!-- 통역 그 이상의 서비스를 경험 해 보세요-->
<div class="container-fluid padding text-center" style="background-color:#fafafa;">

  <h1 id="heading">통역 그 이상의 서비스를 경험 해 보세요</h1>
  <hr style="width:100px;border:1px #595959 solid;">
  <br>
  <div class="container">
<div class="sectionContent">
<div class="row">
  <div class="col-md-4 col-sm-4">

    <h2 class="font1">품질 보장</h2>
    <br>
    <div class="subdesc">트렉스 파트너는 본인 및 이력 확인,
통역 업무 여부 확인을 거친 뒤 등록되며,
인터뷰 후 활동할 수 있습니다.</div>
  </div>

  <div class="col-md-4 col-sm-4">

    <h2 class="font1">간편 보장</h2>
    <br>
    <div class="subdesc">복잡한 고용 과정이 간편해집니다. 전 세계
어디로 출장 가시던 간편하게 파트너
매칭, 결제, 업무 검수까지 해결하세요.</div>
  </div>

  <div class="col-md-4 col-sm-4">

    <h2 class="font1">특화 된 분야</h2>
    <br>
    <div class="subdesc">트렉스 파트너는 다양한 분야의 인재들로
구성되어 있습니다. 출장 업무와 유사한
분야에 특화된 파트너에게 업무를 맡기세요.</div>
  </div>
</div>
</div>
</div>
</div>

<!-- /통역 그 이상의 서비스를 경험 해 보세요-->


<!-- 기업 섭외 견적 요청 -->


<!-- /기업 섭외 견적 요청 -->

<!-- 국가/지역 별 파트너를 만나보세요. -->


<div id="first-slide"class="container-fluid padding text-center">
<h1 id="heading">국가/지역 별 파트너를 만나보세요</h1>
<hr style="width:100px;border:1px #595959 solid;"><br>
  <div class="container">
     <div class="sectionContent">

    <div  class="lunchbox2">

         <div class="swiper-container s2">
           <!-- Additional required wrapper -->
           <div class="swiper-wrapper">
             <!-- Slides -->
             <div class="swiper-slide img-hover-zoom" style="border-radius:0;">
                     <a href="#" ><img id="countries" src="/static/images/countries/0germany.jpg" class="center" >
                         <div class="centered">독일</div>
                     </a>
             </div>
             <div class="swiper-slide img-hover-zoom" style="border-radius:0;">
                     <a href="#" ><img id="countries" src="/static/images/countries/1toronto.jpeg" class="center" >
                         <div class="centered">토론토</div>
                     </a>
             </div>
             <div class="swiper-slide img-hover-zoom" style="border-radius:0;">
                     <a href="#" ><img id="countries" src="/static/images/countries/2newyork.jpg" >
                         <div class="centered">뉴욕</div>
                     </a>
             </div>
             <div class="swiper-slide img-hover-zoom" style="border-radius:0;">
                     <a href="#" ><img id="countries" src="/static/images/countries/3london.jpg" class="center" >
                         <div class="centered">런던</div>
                     </a>
             </div>
             <div class="swiper-slide img-hover-zoom" style="border-radius:0;">
                     <a href="#" ><img id="countries" src="/static/images/countries/4la.jpg" class="center" >
                         <div class="centered">엘에이</div>
                     </a>
             </div>
             <div class="swiper-slide img-hover-zoom" style="border-radius:0;">
                     <a href="#" ><img id="countries" src="/static/images/countries/5seeall.jpg" class="center" >
                         <div class="centered">모든 도시 보기</div>
                     </a>
             </div>
           </div>
           <!-- If we need pagination -->
           <div class="swiper-pagination2"></div>
         </div>
         <!-- If we need navigation buttons -->
         <div class="swiper-button-prev2"></div>
         <div class="swiper-button-next2"></div>
    </div>
<br>
<a href="/city_list">
  <button type="button" name="button" style="text-align:center; font-size: 16px;" id="btn_outline_orange">모든 도시 보기</button>
</a>

</div>
</div>
</div>

<!-- /국가/지역 별 파트너를 만나보세요. -->

<!-- 자주 묻는 질문 & 이용후기-->
<div class="container-fluid padding text-center" style="background-color:#fafafa;">
<div class="container">
<div class="sectionContent">
<div class="row">

<div class="col-md-12 col-lg-7">
  <h1 class="qna">자주 묻는 질문</h1>
<style>
[data-toggle="collapse"]:after {
display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
content: "\f078";
transform: rotate(-180deg) ;
transition: all linear 0.25s;
font-size: 20px;
}
[data-toggle="collapse"].collapsed:after {
transform: rotate(0deg) ;
}
</style>
<ol id="qlist" style="padding:0;">
  <div id="accordion">
    <div class="card" >
      <div class="card-header" id="heading-1">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1" >
            출장지 인근에 검색 되는 파트너가 없습니다. 어떻게 해야 하나요?   </a>
        </div>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
          트렉스 파트너 모두가 플랫폼에 노출되지는 않습니다. 검색되는 파트너가 없을시, 고객센터로 예약 요청을 해주시면 빠르게 도움 드리고 있습니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-2">
        <div class="mb-0" s>
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            파트너 급여 지급은 어떻게 하나요?  </a>
        </div>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          파트너 비용 지급을 위해 많은 현금을 가져가실 필요가 없습니다. 간편한 송금으로 파트너 예약을 확정하고, 업무에만 집중하세요!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-3">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            트렉스 검증 프로세스가 무엇 인가요?  </a>
        </div>
      </div>
      <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
        <div class="card-body">
          트렉스는 클라이언트의 성공적인 업무를 위해 최고의 파트너님들을 선별합니다. 업무에 매칭되는 파트너님은 본인 확인 - 이력 확인 - 인터뷰 절차를 걸쳐 선별된 인재입니다.
        </div>
      </div>
    </div>
  </div>
</ol>

<a href="/client_faq?index=1"><button type="button" id="btn_outline_orange">모든 질문 보기</button></a> <!-- href="/client_faq"> -->

</div>

<div class="col-md-12 col-lg-5">
<h1 class="qna">이용자 후기</h1>
<!--Carousel Wrapper-->
<div id="slides2" class="carousel slide " data-ride="carousel" data-interval="2300">
  <!--Indicators-->
  <ul class="carousel-indicators">
    <li data-target="#slides2" data-slide-to="0" class="active"></li>
    <li data-target="#slides2" data-slide-to="1"></li>
    <li data-target="#slides2" data-slide-to="2"></li>
    <li data-target="#slides2" data-slide-to="3"></li>
  </ul>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" > <!-- add role="listbox" if needed-->
     <div class="carousel-item active">
       <div class="grid-container">
         <div class="grid-item item4 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
         <div class="grid-item item5 text-left"><br><h6 >G***사</h6><span>Chief Financial Officer</span></div>
         <div class="grid-item item6 text-center">"트렉스를 통해 지난번 통역 해주신 일과 관련해서 좋은 결과가 있어 다시 방문하게 될 듯 합니다. ...항상 응원합니다"<br><br><br></div>
       </div>
    </div>

    <div class="carousel-item">
      <div class="grid-container">
        <div class="grid-item item4 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
        <div class="grid-item item5 text-left"><br><h6 >K***기관</h6><span>Senior Researcher</span></div>
        <div class="grid-item item6 text-center">트렉스 덕분에 독일 행사 잘 마무리 되었습니다. 매년 감사 드립니다.<br><br><br></div>
      </div>
   </div>
   <div class="carousel-item">
     <div class="grid-container">
       <div class="grid-item item4 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
       <div class="grid-item item5 text-left"><br><h6 >C***사</h6><span>Chief Executive Director</span></div>
       <div class="grid-item item6 text-center">다음번 캐나다 여정 때 다시 한번 도움 부탁 드리도록 하겠습니다^^ 감사합니다.<br><br><br></div>
     </div>
  </div>
  <div class="carousel-item">
    <div class="grid-container">
      <div class="grid-item item4 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
      <div class="grid-item item5 text-left"><br><h6 >겟리펀드</h6><span>Executive Director Getrefund.io</span></div>
      <div class="grid-item item6 text-center">"트렉스 덕분에 지난 미국 출장을 너무 편하게 다녀올 수 있었습니다. 다음번에도 같은 통역원님과 꼭 같이 하고 싶습니다."<br><br><br></div>
    </div>
 </div>
  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
</div>


</div>
</div>
</div>
</div>
<!-- /자주 묻는 질문 & 이용후기 -->
<!-- 기업/기관 그리고 개인이 트렉스를 사용하고 있습니다 -->
<div class="container-fluid padding text-center">
  <h1 id="heading">기업/기관 그리고 개인이 트렉스를 사용하고 있습니다</h1>
<div class="container">

</div>
</div>
<!-- /기업/기관 그리고 개인이 트렉스를 사용하고 있습니다 -->





<!-- Swiper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper1 = new Swiper('.swiper1', {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      loop: false,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
   // when window width is <= 320px
   800: {
     slidesPerView: 3,
     spaceBetweenSlides: 30
   },
   // when window width is <= 480px
   576: {
     slidesPerView: 1,
     spaceBetweenSlides: 20
   }
 }
    });

    var mySwiper2 = new Swiper ('.s2', {
        slidesPerView: 4,
        spaceBetween: 30,
        slidesPerGroup: 1,
      loop: false,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination2',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next2',
        prevEl: '.swiper-button-prev2',
      },
      breakpoints: {
   // when window width is <= 320px
   800: {
     slidesPerView: 3,
     spaceBetweenSlides: 30
   },
   // when window width is <= 480px
   576: {
     slidesPerView: 1,
     spaceBetweenSlides: 20
   }
 }

    });
  </script>
<!-- end of swiper.js -->


  <!-- footer -->
  <% include ./partials/footer %>

</body>
<script src="/static/scripts/register.js"></script>
</html>
