<!DOCTYPE html>
<html lang="en">
<head>
  <title>파트너 페이지 - 트렉스</title>
  <meta charset="utf-8">

  <% include ./partials/header %>
    <link rel="stylesheet" href="../static/stylesheets/1partnerpage.css">

<script>
// function checkLogin(){
//   <% if(currentUser && currentUser.type === "p"){ %>
//     window.location.href='/find_task?shit=shit';
//   <% } else { %>
//     window.location.href='/auth/login';
//   <% }  %>
// }

// function checkLogin2(){
// 
//   <% if(currentUser && currentUser.type === "p"){ %>
//     window.location.href='/find_task';
//   <% } else { %>
//     window.location.href='/auth/login';
//   <% }  %>
// }
</script>

</head>

<body>
    <% include ./partials/navbar %>

    <!-- toggle active link button -->
    <script>
        $(document).ready(() => {
            // $(".navactive").toggleClass("navactive");
            $("#pplink").toggleClass("navactive");
        });
    </script>
    <!-- end -->

<!-- Carousel Section -->
<div class="container-fluid" >
<div id="slides" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">
  <div class="carousel-item active">
    <img id="slider-images-partner-page" src="/static/images/partnerpage.jpg" class="center responsive" >
    <div class="carousel-caption" id="carousel-caption-partner">
      <h1>현지 언어가 가능하신가요?</h1>
      <h2><b>트렉스 파트너로</b></h2>
      <h2>수익을 창출하세요</h2>
      <div class="divider-vertical"></div>
        <a href="/auth/register/partner"><button  id="btn_orange" type="button">파트너 등록하기</button></a>
    </div>

  </div>
</div>

</div>
</div>
<!-- End of Carousel Section -->

<!-- 파트너 활동은 어떻게 하나요? -->
<div class="container-fluid padding text-center" >
    <h1  style="font-size: 30px;font-weight:900;">트렉스 파트너 이용방법</h1>
    <div style="height:70px;"></div>
<div class="container" style="">
<div class="sectionContent">


  <div class="grid-container ">
    <div class="grid-item item001" ><b>(image)</b></div>
    <div class="grid-item item002" ><b>1.</b></div>
    <div class="grid-item item003" >프로필과 서비스 등록</div>
    <div class="grid-item item004" >검색 또는 서비스 선택을 통해 필요하신 서비스를 선택하시고 몇가지 질문을 통해 업무에 알맞는 파트너님들의 견적서를 무료로 받아보세요.</div>
  </div>
  <br>
  <hr style="width:90%;border: 1px solid #e5e6e6;"><br>

  <div class="grid-container ">
    <div class="grid-item item001" ><b>(image)</b></div>
    <div class="grid-item item002" ><b>2.</b></div>
    <div class="grid-item item003" >파트너 인터뷰 진행</div>
    <div class="grid-item item004" >업무에 지원한 파트너님들의 프로필, 지원 메세지, 견적서를 비교해보세요. </div>
  </div>
  <br>
  <hr style="width:90%;border: 1px solid #e5e6e6;"><br>

    <div class="grid-container ">
      <div class="grid-item item001" ><b>(image)</b></div>
      <div class="grid-item item002" ><b>3.</b></div>
      <div class="grid-item item003" >업무 지원하기</div>
      <div class="grid-item item004" >지원자들 중 업무를 함께 진행하실 파트너님께 합격 메세지를 보내주세요. (합격 메세지를 보내시면 결재 방법 안내 이메일이 발송됩니다.)</div>
    </div>
    <br>
    <hr style="width:90%;border: 1px solid #e5e6e6;"><br>

    <div class="grid-container ">
      <div class="grid-item item001" ><b>(image)</b></div>
      <div class="grid-item item002" ><b>4.</b></div>
      <div class="grid-item item003" >파트너 결제</div>
      <div class="grid-item item004" >함께 업무를 진행하실 파트너님의 견적서를 결제하신 뒤 연락처를 받으시고 업무를 진행해보세요. </div>
    </div>
    <br>
    <hr style="width:90%;border: 1px solid #e5e6e6;"><br>

<!-- </div> -->
</div>
</div>
</div>
<!-- /파트너 활동은 어떻게 하나요?-->


<!-- 업무에 지원 해 보세요! -->
<div class="container-fluid padding text-center" style="padding-top:0px;">
  <h1>업무에 지원 해보세요!</h1>
  <h2 >트렉스 파트너만 지원 가능 합니다.</h2>
  <!-- <hr style="width:100px;border:1px #595959 solid;"><br> -->
  <div style="height:70px;"></div>
<div class="container" id="apply_card">
<div class="sectionContent">
<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-6 5860">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 블라블라블라블라블라블랍릅라ㅡ라름ㄴㅇㄹㅁㄴㅇㄹㄴㅇㄹㄴ
          ㅇㅎㄴㅁㅇ륾ㄴㅇㄹㅁㄴ이ㅏㅓㄹㅁ니아ㅓㅜㅊㄴ웊ㅁㄴㅇㄴ우춘ㅇㄹㅇㄴ룸ㄴㅇ</div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 히히히</div>
      </div>
</div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 꺄르르르ㅡ르르ㅡㅡ르르르르으으 으으ㅡㅡ</div>
      </div>
</div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 헿ㅎ헤ㅔㅔㅔ헤헿ㅎㅎㅎ</div>
      </div>
</div>
  </div>

</div>
</div>
</div>
<br>
<!-- <a href="#"><button id="btn_outline_orange" type="button" class="btn text-center" onclick="checkLogin2();">모든 업무 보기</button></a> -->
<a href="/find_task"><button id="btn_outline_orange" type="button" class="btn text-center" onclick="checkLogin2();">모든 업무 보기</button></a>
</div>
<!-- /업무에 지원 해 보세요! -->

<!-- faq&트렉스 파트너의 후기-->
<div class="container-fluid padding text-center" style="background-color:#efefef">
<div class="container">
<div class="sectionContent">
<div class="row">

<div class="col-md-12 col-lg-7">
  <h1 style="color:#f58b44;">자주 묻는 질문</h1>
<style>
[data-toggle="collapse"]:after {
display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
content: "\f078";
transform: rotate(-180deg) ;
transition: all linear 0.25s;
}
[data-toggle="collapse"].collapsed:after {
transform: rotate(0deg) ;
}
</style>
<ol id="qlist" style="padding:0;">
  <div id="accordion">
    <div class="card" >
      <div class="card-header" id="heading-1">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1" >
            전문 통역사가 아니어도 파트너 등록이 가능 한가요?   </a>
        </div>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
          네, 현지 언어와 한국어가 가능하시고, 전문 분야가 있으시면 누구나 파트너 등록이 가능 합니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-2">
        <div class="mb-0" s>
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            파트너 등록 비용은 얼마인가요?  </a>
        </div>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          답변.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-3">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            어떻게 예약을 받나요?  </a>
        </div>
      </div>
      <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
        <div class="card-body">
          답변.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading-4">
      <div class="mb-0" >
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
          파트너 급여는 어떻게 받나요?  </a>
      </div>
    </div>
    <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
      <div class="card-body">
        답변.
    </div>
  </div>
</div>
</ol>

<!-- <a href="/partner_faq"><button type="button" id="button1">파트너 질문 더 보기</button></a> -->
<a href="/client_faq?index=2"><button type="button" id="btn_outline_orange">파트너 질문 더 보기</button></a>
<br><br>
</div>



<div class="col-md-12 col-lg-5">
  <h1><span style='color:#f58b44'>트렉스 파트너</span>의 후기</h1>
  <!--Carousel Wrapper-->
  <div id="slides2" class="carousel slide" data-ride="carousel" data-interval="2300">
    <!--Indicators-->
    <ul class="carousel-indicators">
      <li data-target="#slides2" data-slide-to="0" class="active"></li>
      <li data-target="#slides2" data-slide-to="1"></li>
      <li data-target="#slides2" data-slide-to="2"></li>
    </ul>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" style="box-shadow: none !important; border: 1px solid #d3d4d5;"> <!-- add role="listbox" if needed-->
       <div class="carousel-item active">
         <div class="grid-container">
           <div class="grid-item item5 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
           <div class="grid-item item6 text-left"><br><h6 >John Woo</h6><span>파트너 (유럽)</span></div>
           <div class="grid-item item7 text-center">다른 알바와 다르게 제 전공분야 경험도 키우고, 수익도 훨씬 많이 올릴 수 있어서 좋습니다.<br><br><br></div>
         </div>
      </div>

      <div class="carousel-item">
        <div class="grid-container">
          <div class="grid-item item5 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
          <div class="grid-item item6 text-left"><br><h6 >John Woo</h6><span>파트너 (유럽)</span></div>
          <div class="grid-item item7 text-center">다른 알바와 다르게 제 전공분야 경험도 키우고, 수익도 훨씬 많이 올릴 수 있어서 좋습니다.<br><br><br></div>
        </div>
     </div>
     <div class="carousel-item">
       <div class="grid-container">
         <div class="grid-item item5 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
         <div class="grid-item item6 text-left"><br><h6 >John Woo</h6><span>파트너 (유럽)</span></div>
         <div class="grid-item item7 text-center">다른 알바와 다르게 제 전공분야 경험도 키우고, 수익도 훨씬 많이 올릴 수 있어서 좋습니다.<br><br><br></div>
       </div>
    </div>
    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>

</div>
</div>
</div>

</div>
</div>
<!-- /faq&트렉스 파트너의 후기-->





<% include ./partials/footer %>
</body>
</html>
