<html>
    <head>
        <meta charset="utf-8">
        <title>파트너 프로필</title>

        <!-- HEADER -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--for mobile websites-->
        <meta name="google" content="notranslate" />
        <!-- css cdn -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- cdn for jQuery must be before that of JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <!-- END OF HEADER -->

    </head>
    <body>

        <!-- NAVBAR -->
        <link rel="stylesheet" href="../public/stylesheets/navbar.css">

        <div class="myNav">
            <nav class="navbar navbar-expand-md navbar-light">
                    <a class="logo" href="/">TrexLogo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/#project">파트너 찾기</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#teams">파트너 페이지</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/register">회원가입</a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </div>
        <!-- END OF NAVBAR -->

        <link rel="stylesheet" href="../public/stylesheets/profile2.css">

        <div class="background"></div>
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row rowdivider">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="profile">
                                <div class="avatar">
                                    <img class="img-raised rounded-circle img-fluid"
                                        src="https://cdns.iconmonstr.com/wp-content/assets/preview/2018/240/iconmonstr-user-circle-thin.png"
                                        alt="Circle Image">
                                </div>
                                <div class="name">
                                    <p>John Doe</p>
                                    <h6>비지니스 업무 전문 파트너입니다!</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rowdivider">
                        <div class="col-md-6">
                            <div class="description-title">
                                <p>기본 정보</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="description-contents">
                                <div class="row">
                                        <span><i class="fa fa-venus-mars" aria-hidden="true"></i><b>성별</b></span>
                                        <span>남자</span>
                                </div>
                                <div class="row">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i><b>지역</b></span>
                                        <span>몬트리올</span>
                                </div>
                                <div class="row">
                                        <span><i class="fa fa-flag" aria-hidden="true"></i><b>타 지역 업무 가능 여부</b></span>
                                        <span>타지역 업무 가능</span>
                                </div>
                                <div class="row">
                                        <span><i class="fa fa-laptop" aria-hidden="true"></i><b>직업</b></span>
                                        <span>직장인</span>
                                </div>
                                <div class="row">
                                        <span><i class="fa fa-certificate" aria-hidden="true"></i><b>업종/전공</b></span>
                                        <span>회계/금융</span>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="row rowdivider">
                        <div class="col-md-6">
                            <div class="language-title">
                                <p>언어</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="language-contents">
                                <div class="row">
                                    <span><b>영어</b></span>
                                    <span>
                                        <div class="percentage"
                                            style="width: 90%;
                                                    height: 100%;
                                                    background-color: yellow;
                                                    border-radius: 10px;"></div>
                                    </span>
                                </div>
                                <div class="row">
                                    <span><b>한국어</b></span>
                                    <span>
                                        <div class="percentage"
                                            style="width: 70%;
                                                    height: 100%;
                                                    background-color: yellow;
                                                    border-radius: 10px;"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
