<!DOCTYPE html>
<html lang="en">
<head>
  <title>고객 지원(파트너)</title>
  <meta charset="utf-8">
  <% include ./partials/header %>
</head>

<body>
    <% include ./partials/navbar %>
  <style media="screen">
    a{
      color:black;

    }
  </style>
  <!-- Carousel Section -->
  <div class="container-fluid padding2" id="mainDiv">
  <div id="slides" class="carousel slide" data-ride="carousel">


  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="desk.jpg" class="center" style="width:100%;height:300px;">
      <div class="carousel-caption" style="color:black;">
        <h1 >고객 센터</h1>
      </div>

    </div>
  </div>

  </div>
  </div>
  <!-- End of Carousel Section -->


<!-- 클라이언트/파트너/취소및환불 -->
<div class="container-fluid padding2 text-center" >

<h5>  <a class="heada" href="client_faq" >클라이언트</a><div class="divider2"></div>
  <a class="heada" href="#" style="color:#f8ba00;border-bottom:4px solid #f8ba00;padding-bottom:3px;">파트너</a><div class="divider2"></div>
  <a class="heada" href="refund">취소 및 환불 </a></h5>
</div>

<hr style="width:100%;">

<!-- /클라이언트/파트너/취소및환불 -->

<!-- 클라이언트님들께서 자주 묻는 질문 -->
<div class="container-fluid padding2 text-center">
<h4>클라이언트님들께서 자주 묻는 질문</h4>
</div>
<style>
[data-toggle="collapse"]:after {
display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
content: "\f078";
transform: rotate(-180deg) ;
transition: all linear 0.25s;
}
[data-toggle="collapse"].collapsed:after {
transform: rotate(0deg) ;
}
</style>
<!-- /클라이언트님들께서 자주 묻는 질문 -->

<!-- do not delete this section-->
<div class="container-fluid padding2 text-left" style="display:none;">
  <br><br>

<div>
<ol id="qlist" >
  <div id="accordion" >
  </div>
</ol>

</div>
</div>
<!-- /do not delete this section -->

<!-- 회원 가입 관련 -->
<div class="container-fluid padding2 text-left" style="padding-left:8%;padding-right:8%;">
  <br><br>

<div>
  <h4 style="color:#f8ba00;">파트너 등록 관련</h4>

<ol id="qlist" >
  <div id="accordion" >
    <div class="card" >
      <div class="card-header" id="heading-1" >
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1" >
            트렉스 회원가입은 유료인가요?   </a>
        </div>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
          아닙니다. 트렉스는 무료 회원가입이며 추가적인 회비는 없습니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-2">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            가입만 하면 트렉스 파트너로 등록되나요?  </a>
        </div>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          아닙니다. 트렉스 파트너로 등록 되기 위해선 [파트너 페이지] 또는 프로필 아이콘을 클릭하셔서 파트너 프로필 (이력)을 등록해 주셔야 합니다.
        </div>
      </div>
    </div>

    <div class="card" >
      <div class="card-header" id="heading-3" >
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" >
            파트너 등록은 어떻게 하나요?  </a>
        </div>
      </div>
      <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
        <div class="card-body">
          [파트너 페이지] 또는 본인 아이콘을 클릭하셔서 파트너 프로필 등록을 해주시면 됩니다. 트렉스 파트너팀이 등록해주신 프로필을 검수 하고 게시하며 이 과정은 평균 1-3일 정도 소요됩니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-4">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
            파트너가 되기 위한 자격요건이 있나요?  </a>
        </div>
      </div>
      <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
        <div class="card-body">
          Make Business Boundless라는 트렉스의 가치와 함께 할 수 있는 능력을 갖고 있는 누구나 파트너 등록이 가능합니다. 현지 언어가 가능하고 자신만의 분야가 있다면 대학생부터 교수님, 직장인, 전문 통역사까지 파트너 등록이 가능합니다.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-5">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
            파트너로 등록된 뒤 업무를 수행까지 어느정도의 시간이 걸리나요?  </a>
        </div>
      </div>
      <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
        <div class="card-body">
          파트너로 등록되시면 바로 활동 가능하십니다.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-6">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
            파트너 인터뷰는 어떻게 진행되나요?  </a>
        </div>
      </div>
      <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-6">
        <div class="card-body">
          모든 트렉스 파트너는 프로필 등록 후, 업무 진행에 앞서 필수적으로 인터뷰를 진행해야 합니다. 업무 예약 접수시, 트렉스 파트너팀에서 인터뷰 일정 안내를 이메일로 보내드립니다.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-7">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
            프로필 등록 후 수정 가능한가요?  </a>
        </div>
      </div>
      <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
        <div class="card-body">
          사이트 오른쪽 상단에 있는 개인 아이콘을 클릭하신후 프로필 수정 (연필 아이콘)을 클릭하신 후 수정 가능합니다.
        </div>
      </div>
    </div>
  </div>
</ol>

</div>
</div>

<!-- /회원 가입 관련 -->

<!-- 업무 관련 -->
<div class="container-fluid padding2 text-left" style="padding-left:8%;padding-right:8%;">
  <br><br>

<div>
  <h4 style="color:#f8ba00;">업무 관련</h4>

<ol id="qlist" >
  <div id="accordion" >
    <div class="card" >
      <div class="card-header" id="heading-8" >
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-8" aria-expanded="false" aria-controls="collapse-8" >
            파트너로 활동 하는 방법은 무엇인가요?   </a>
        </div>
      </div>
      <div id="collapse-8" class="collapse" data-parent="#accordion" aria-labelledby="heading-8">
        <div class="card-body">
          [업무 지원하기] 페이지에서 업무에 지원하시거나 클라이언트님으로부터 오는 예약 문의를 통해 활동 하실 수 있습니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-9">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
            업무에 어떻게 지원하나요?  </a>
        </div>
      </div>
      <div id="collapse-9" class="collapse" data-parent="#accordion" aria-labelledby="heading-9">
        <div class="card-body">
          [업무 지원하기] 페이지에서 파트너님의 해당 지역에 있는 업무들을 확인하고 가능하신 업무에 지원하시면 됩니다. 지원 후 클라이언트님이 직접 지원 합격 여부에 대해서 메세지를 보냅니다.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-10">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
            지원하기 말고 다른 활동방법이 있나요? </a>
        </div>
      </div>
      <div id="collapse-10" class="collapse" data-parent="#accordion" aria-labelledby="heading-10">
        <div class="card-body">
          클라이언트께서 현지 파트너 찾기를 통해 파트너님께 직접 예약 문의를 하시면 업무에 대해 상의하고 업무를 진행 하실 수 있습니다.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-11">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
            예약 문의 및 신청을 거절 할 수 있나요? </a>
        </div>
      </div>
      <div id="collapse-11" class="collapse" data-parent="#accordion" aria-labelledby="heading-11">
        <div class="card-body">
          물론입니다. 클라이언트님과 업무에 대해 상의를 통해 파트너님의 스케줄, 분야, 혹은 다른 사유로 맞지 않다고 판단 되시면 정중히 거절해 주세요.
        </div>
      </div>
    </div>


  </div>
</ol>

</div>
</div>
<!-- /업무 관련 -->

<!-- 급여 관련 -->
<div class="container-fluid padding2 text-left" style="padding-left:8%;padding-right:8%;">
  <br><br>

<div>
  <h4 style="color:#f8ba00;">급여 관련</h4>

<ol id="qlist" >
  <div id="accordion" >
    <div class="card">
      <div class="card-header" id="heading-12">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
            급여는 언제 지급 받나요?  </a>
        </div>
      </div>
      <div id="collapse-12" class="collapse" data-parent="#accordion" aria-labelledby="heading-12">
        <div class="card-body">
          클라이언트님이 예약 결제시 바로 파트너님에게 바로 급여가 지급되는 것이 아니라 트렉스 파이낸스팀에서 보류한 뒤, 업무 종료 당일 트렉스 파트너팀과 업무 내용 확인 후 파트너님의 페이팔 계정으로 송금됩니다.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-13">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
            급여는 어떻게 지급 받나요? </a>
        </div>
      </div>
      <div id="collapse-13" class="collapse" data-parent="#accordion" aria-labelledby="heading-13">
        <div class="card-body">
          파트너님의 개인 페이팔 계정으로 송금해 드립니다. 업무 예약이 확정되면 partnership@trexservice.com으로 파트너님의 개인 페이팔 계정을 알려주세요.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-14">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-14" aria-expanded="false" aria-controls="collapse-14">
            추가 교통 및 숙박비는 어떻게 지급 받나요?  </a>
        </div>
      </div>
      <div id="collapse-14" class="collapse" data-parent="#accordion" aria-labelledby="heading-14">
        <div class="card-body">
          추가 교통 및 숙박비는 예약 문의 단계에서 클라이언트님과 협의 후 결정해주세요. 협의 내용에 따라 업무 당일 클라이언트께 영수증을 증빙하시면 현금으로 받으실 수 있습니다.
        </div>
      </div>
    </div>

  </div>
</ol>

</div>
</div>
<!-- /결제 관련 -->

<!-- 기타 -->
<div class="container-fluid padding2 text-left" style="padding-left:8%;padding-right:8%;">
  <br><br>

<div>
  <h4 style="color:#f8ba00;">기타</h4>

<ol id="qlist" >
  <div id="accordion" >


        <div class="card">
          <div class="card-header" id="heading-15">
            <div class="mb-0" >
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-15" aria-expanded="false" aria-controls="collapse-15">
                트렉스 수수료는 어디에 사용되나요? </a>
            </div>
          </div>
          <div id="collapse-15" class="collapse" data-parent="#accordion" aria-labelledby="heading-15">
            <div class="card-body">
              트렉스는 클라이언트의 성공적인 업무를 위해 최고의 파트너님들을 선별합니다. 업무에 매칭되는 파트너님은 본인 확인 - 이력 확인 - 인터뷰 절차를 걸쳐 선별된 인재입니다.
            </div>
          </div>
        </div>

        <div class="card" >
          <div class="card-header" id="heading-16" >
            <div class="mb-0" >
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-16" aria-expanded="false" aria-controls="collapse-16" >
                출장지 인근에 검색 되는 파트너가 없습니다. 어떻게 해야 하나요?   </a>
            </div>
          </div>
          <div id="collapse-16" class="collapse" data-parent="#accordion" aria-labelledby="heading-16">
            <div class="card-body">
              트렉스 파트너 모두가 플랫폼에 노출되지는 않습니다. 검색되는 파트너가 없을시, 고객센터로 예약 요청을 해주시면 빠르게 도움 드리고 있습니다.
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-17">
            <div class="mb-0" >
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-17" aria-expanded="false" aria-controls="collapse-17">
                파트너 급여 지급은 어떻게 하나요?  </a>
            </div>
          </div>
          <div id="collapse-17" class="collapse" data-parent="#accordion" aria-labelledby="heading-17">
            <div class="card-body">
              파트너 비용 지급을 위해 많은 현금을 가져가실 필요가 없습니다. 간편한 송금으로 파트너 예약을 확정하고, 업무에만 집중하세요!
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-18">
            <div class="mb-0" >
              <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-18" aria-expanded="false" aria-controls="collapse-18">
                트렉스 검증 프로세스가 무엇 인가요?  </a>
            </div>
          </div>
          <div id="collapse-18" class="collapse" data-parent="#accordion" aria-labelledby="heading-18">
            <div class="card-body">
              트렉스는 클라이언트의 성공적인 업무를 위해 최고의 파트너님들을 선별합니다. 업무에 매칭되는 파트너님은 본인 확인 - 이력 확인 - 인터뷰 절차를 걸쳐 선별된 인재입니다.
            </div>
          </div>
        </div>
    <div class="card" >
      <div class="card-header" id="heading-19" >
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-19" aria-expanded="false" aria-controls="collapse-19" >
            출장지 인근에 검색 되는 파트너가 없습니다. 어떻게 해야 하나요?   </a>
        </div>
      </div>
      <div id="collapse-19" class="collapse" data-parent="#accordion" aria-labelledby="heading-19">
        <div class="card-body">
          트렉스 파트너 모두가 플랫폼에 노출되지는 않습니다. 검색되는 파트너가 없을시, 고객센터로 예약 요청을 해주시면 빠르게 도움 드리고 있습니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-20">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-20" aria-expanded="false" aria-controls="collapse-20">
            파트너 급여 지급은 어떻게 하나요?  </a>
        </div>
      </div>
      <div id="collapse-20" class="collapse" data-parent="#accordion" aria-labelledby="heading-20">
        <div class="card-body">
          파트너 비용 지급을 위해 많은 현금을 가져가실 필요가 없습니다. 간편한 송금으로 파트너 예약을 확정하고, 업무에만 집중하세요!
        </div>
      </div>
    </div>


  </div>
</ol>

</div>
</div>
<!-- /기타 -->

<!-- 도움이 더 필요 하신가요? -->
<br>
<hr style="width:100%;">
<br>
<div class="container-fluid padding2 text-center">
도움이 더 필요 하신가요?<div class="divider2"></div>
<a href="https://accounts.kakao.com/login?continue=http%3A%2F%2Fpf.kakao.com%2F_dCzvj%2Fchat" target="_blank"><button type="button" name="button" style="background-color:#ffe812;border:#ffe812;border-radius: 4px; height:37px;"><b>카카오톡</b>에서 <b>트렉스</b> 친구추가 하세요. <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 256 256"><path fill="#FFE812" d="M256 236c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20V20C0 8.954 8.954 0 20 0h216c11.046 0 20 8.954 20 20v216z"/><path d="M128 36C70.562 36 24 72.713 24 118c0 29.279 19.466 54.97 48.748 69.477-1.593 5.494-10.237 35.344-10.581 37.689 0 0-.207 1.762.934 2.434s2.483.15 2.483.15c3.272-.457 37.943-24.811 43.944-29.04 5.995.849 12.168 1.29 18.472 1.29 57.438 0 104-36.712 104-82 0-45.287-46.562-82-104-82z"/><path fill="#FFE812" d="M70.5 146.625c-3.309 0-6-2.57-6-5.73V105.25h-9.362c-3.247 0-5.888-2.636-5.888-5.875s2.642-5.875 5.888-5.875h30.724c3.247 0 5.888 2.636 5.888 5.875s-2.642 5.875-5.888 5.875H76.5v35.645c0 3.16-2.691 5.73-6 5.73zM123.112 146.547c-2.502 0-4.416-1.016-4.993-2.65l-2.971-7.778-18.296-.001-2.973 7.783c-.575 1.631-2.488 2.646-4.99 2.646a9.155 9.155 0 0 1-3.814-.828c-1.654-.763-3.244-2.861-1.422-8.52l14.352-37.776c1.011-2.873 4.082-5.833 7.99-5.922 3.919.088 6.99 3.049 8.003 5.928l14.346 37.759c1.826 5.672.236 7.771-1.418 8.532a9.176 9.176 0 0 1-3.814.827c-.001 0 0 0 0 0zm-11.119-21.056L106 108.466l-5.993 17.025h11.986zM138 145.75c-3.171 0-5.75-2.468-5.75-5.5V99.5c0-3.309 2.748-6 6.125-6s6.125 2.691 6.125 6v35.25h12.75c3.171 0 5.75 2.468 5.75 5.5s-2.579 5.5-5.75 5.5H138zM171.334 146.547c-3.309 0-6-2.691-6-6V99.5c0-3.309 2.691-6 6-6s6 2.691 6 6v12.896l16.74-16.74c.861-.861 2.044-1.335 3.328-1.335 1.498 0 3.002.646 4.129 1.772 1.051 1.05 1.678 2.401 1.764 3.804.087 1.415-.384 2.712-1.324 3.653l-13.673 13.671 14.769 19.566a5.951 5.951 0 0 1 1.152 4.445 5.956 5.956 0 0 1-2.328 3.957 5.94 5.94 0 0 1-3.609 1.211 5.953 5.953 0 0 1-4.793-2.385l-14.071-18.644-2.082 2.082v13.091a6.01 6.01 0 0 1-6.002 6.003z"/></svg></button></a>
</div>
<!-- /도움이 더 필요 하신가요? -->

<!-- 피드백이 있으신가요? -->
<div class="container-fluid padding2 text-center">
피드백이 있으신가요?<div class="divider2"></div> <b>info@trexservice.com</b>
</div>
<br><br>
<!-- /피드백이 있으신가요? -->
<% include ./partials/footer %>
</body>
</html>
