<html>
    <head>
        <meta charset="utf-8">
        <title>파트너 프로필</title>

        <% include ./partials/header %>

    </head>
    <body>

        <% include ./partials/navbar %>


    </body>
</html>
