<!DOCTYPE html>
<html lang="en">
<head>
  <title>파트너 페이지 - 트렉스</title>
  <meta charset="utf-8">

  <% include ./partials/header %>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="../static/stylesheets/1partnerpage.css">

<script>
function checkLogin(){
  <% if(currentUser && currentUser.type === "p"){ %>
    window.location.href='/seetask';
  <% } else { %>
    window.location.href='/auth/login';
  <% }  %>
}

function checkLogin2(){

  <% if(currentUser && currentUser.type === "p"){ %>
    window.location.href='/find_task';
  <% } else { %>
    window.location.href='/auth/login';
  <% }  %>
}
</script>
</head>

<body>
    <% include ./partials/navbar %>

    <!-- toggle active link button -->
    <script>
        $(document).ready(() => {
            // $(".navactive").toggleClass("navactive");
            $("#pplink").toggleClass("navactive");
        });
    </script>
    <!-- end -->

<!-- Carousel Section -->
<div class="container-fluid" id="mainDiv" >
<div id="slides" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">
  <div class="carousel-item active">
    <img id="slider-images" src="/static/images/partnerpage.jpg" class="center responsive" >
    <div class="carousel-caption" id="carousel-caption-partner">
      <h1>현지 언어가 가능하신가요?</h1>
      <h2><b>트렉스 파트너로</b></h2>
      <h2>수익을 창출하세요</h2>
      <div class="divider-vertical"></div>
        <a href="/auth/register/partner"><button  id="button1" type="button">파트너 등록하기</button></a>
    </div>

  </div>
</div>

</div>
</div>
<!-- End of Carousel Section -->
<br><br>

<!-- 파트너 활동은 어떻게 하나요? -->
<div class="container-fluid padding text-center" >
<div class="container" style="padding-left:8%;padding-right:8%;">
<div class="sectionContent">
<div class="row">

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 1</b></div>
      <div class="grid-item item2" ><b>가입 후 프로필을 등록 해 주세요.</b></div>
      <div class="grid-item item3" ><i class="far fa-address-card"></i></div>
      <div class="grid-item item4" >먼저 이메일로 사이트에 가입 해 주세요.<br>파트너가 되시려면 프로필을 등록 해주셔야 합니다.<br>
      간단하게 파트너님의 경력, 전공 등 프로필을 작성 <br> 해주세요.</div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 2</b></div>
      <div class="grid-item item2" ><b>인터뷰를 진행하세요.</b></div>
      <div class="grid-item item3" ><i class="fas fa-phone-volume"></i></div>
      <div class="grid-item item4" >형식적인 인터뷰가 아닌 파트너님을 더 잘 알아가기<br> 위한 단계 입니다!<br>
      인터뷰 일정은 프로필 게시 후 이메일로 안내드리며,<br> 인터뷰를 진행하셔야 업무를 진행 하실 수 있습니다.</div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 3</b></div>
      <div class="grid-item item2" ><b>업무를 진행하세요.</b></div>
      <div class="grid-item item3" ><i class="far fa-calendar-alt"></i></div>
      <div class="grid-item item4" >파트너님의 거주지, 전공 분야 등 에 맞는 업무를 <br>예약 받고 성곡적으로 진행하세요.<br>
      수익 창출에 더불어 네트워킹, 경력 발전의 기회를<br> 가지실 수 있습니다!</div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="grid-container">
      <div class="grid-item item1" ><b>Step 4</b></div>
      <div class="grid-item item2" ><b>가입 후 프로필을 등록 해 주세요.</b></div>
      <div class="grid-item item3" ><i class="fas fa-briefcase"></i></div>
      <div class="grid-item item4" >파트너로 더 많은 업부를 예약 받고 진행하세요.<br>
      클라이언트가 작성 한 업무 후기에 답변을 작성하고<br> 더 많은 예약을 받아보세요.</div>
    </div>
  </div>

</div>
</div>
</div>
</div>
<!-- /파트너 활동은 어떻게 하나요?-->
<br><br>
<!-- 업무에 지원 해 보세요! -->
<div class="container-fluid padding text-center" >
  <h2>업무에 지원 해보세요!</h2>
  <h4 >트렉스 파트너만 지원 가능 합니다.</h4>
  <hr style="width:100px;border:1px #595959 solid;"><br>
<div class="container" >
<div class="sectionContent">
<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 블라블라블라블라블라블랍릅라ㅡ라름ㄴㅇㄹㅁㄴㅇㄹㄴㅇㄹㄴ
          ㅇㅎㄴㅁㅇ륾ㄴㅇㄹㅁㄴ이ㅏㅓㄹㅁ니아ㅓㅜㅊㄴ웊ㅁㄴㅇㄴ우춘ㅇㄹㅇㄴ룸ㄴㅇ</div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 히히히</div>
      </div>
</div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 꺄르르르ㅡ르르ㅡㅡ르르르르으으 으으ㅡㅡ</div>
      </div>
</div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card card1 padding2" onclick="checkLogin();">
      <div class="grid-container">
        <div class="grid-item item01"></div>
        <div class="grid-item item02">트렉스 #통역업무 @영국</div>
        <div class="grid-item item03"><img class="rounded-circle" src="/static/images/nibbler.jpeg" ></div>
        <div class="grid-item item04">9월 7일날 스케줄 어떠세요?</div>
        <div class="grid-item item05"></div>
        <div class="grid-item item06">자동차 전시회 함께 참관하여 헿ㅎ헤ㅔㅔㅔ헤헿ㅎㅎㅎ</div>
      </div>
</div>
  </div>

</div>
</div>
</div>
<br>
<a href="#"><button type="button" class="btn btn-dark text-center" onclick="checkLogin2();">모든 업무 보기</button></a>
</div>
<!-- /업무에 지원 해 보세요! -->
<br><br>
<!-- faq&트렉스 파트너의 후기-->
<div class="container-fluid padding text-center" style="background-color:#efefef">
  <br><br>
<div class="container">
<div class="sectionContent">
<div class="row">

<div class="col-md-12 col-lg-7">
  <h2 style="color:#f8ba00;">자주 묻는 질문</h2>
<style>
[data-toggle="collapse"]:after {
display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
content: "\f078";
transform: rotate(-180deg) ;
transition: all linear 0.25s;
}
[data-toggle="collapse"].collapsed:after {
transform: rotate(0deg) ;
}
</style>
<ol id="qlist" style="padding:0;">
  <div id="accordion">
    <div class="card" >
      <div class="card-header" id="heading-1">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1" >
            전문 통역사가 아니어도 파트너 등록이 가능 한가요?   </a>
        </div>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
          네, 현지 언어와 한국어가 가능하시고, 전문 분야가 있으시면 누구나 파트너 등록이 가능 합니다.
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-2">
        <div class="mb-0" s>
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            파트너 등록 비용은 얼마인가요?  </a>
        </div>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          답변.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-3">
        <div class="mb-0" >
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            어떻게 예약을 받나요?  </a>
        </div>
      </div>
      <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
        <div class="card-body">
          답변.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading-4">
      <div class="mb-0" >
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
          파트너 급여는 어떻게 받나요?  </a>
      </div>
    </div>
    <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
      <div class="card-body">
        답변.
    </div>
  </div>
</div>
</ol>

<!-- <a href="/partner_faq"><button type="button" id="button1">파트너 질문 더 보기</button></a> -->
<a href="/client_faq?index=2"><button type="button" id="button1">파트너 질문 더 보기</button></a>
<br><br>
</div>



<div class="col-md-12 col-lg-5">
  <h2><span style='color:#f8ba00'>트렉스 파트너</span>의 후기</h2>
  <!--Carousel Wrapper-->
  <div id="slides2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ul class="carousel-indicators">
      <li data-target="#slides2" data-slide-to="0" class="active"></li>
      <li data-target="#slides2" data-slide-to="1"></li>
      <li data-target="#slides2" data-slide-to="2"></li>
    </ul>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" > <!-- add role="listbox" if needed-->
       <div class="carousel-item active">
         <div class="grid-container">
           <div class="grid-item item5 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
           <div class="grid-item item6 text-left"><br><h6 >John Woo</h6><span>파트너 (유럽)</span></div>
           <div class="grid-item item7 text-center">다른 알바와 다르게 제 전공분야 경험도 키우고, 수익도 훨씬 많이 올릴 수 있어서 좋습니다.<br><br><br></div>
         </div>
      </div>

      <div class="carousel-item">
        <div class="grid-container">
          <div class="grid-item item5 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
          <div class="grid-item item6 text-left"><br><h6 >John Woo</h6><span>파트너 (유럽)</span></div>
          <div class="grid-item item7 text-center">다른 알바와 다르게 제 전공분야 경험도 키우고, 수익도 훨씬 많이 올릴 수 있어서 좋습니다.<br><br><br></div>
        </div>
     </div>
     <div class="carousel-item">
       <div class="grid-container">
         <div class="grid-item item5 text-center" ><img class="rounded-circle" src="/static/images/nibbler.jpeg" style="width:70px;height:70px;"></div>
         <div class="grid-item item6 text-left"><br><h6 >John Woo</h6><span>파트너 (유럽)</span></div>
         <div class="grid-item item7 text-center">다른 알바와 다르게 제 전공분야 경험도 키우고, 수익도 훨씬 많이 올릴 수 있어서 좋습니다.<br><br><br></div>
       </div>
    </div>
    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


</div>

</div>
</div>
</div>

</div>
<!-- /faq&트렉스 파트너의 후기-->
<br><br>








<% include ./partials/footer %>
</body>
</html>
