<!DOCTYPE html>
<html lang="en">
<head>
  <title>고객센터 - 트렉스</title>
  <meta charset="utf-8">
  <% include ./partials/header %>
</head>

<body>
    <% include ./partials/navbar %>
  <style media="screen">
    a{
      color:black;

    }
  </style>
  <!-- Carousel Section -->
  <div class="container-fluid padding2" id="mainDiv">
  <div id="slides" class="carousel slide" data-ride="carousel">


  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="desk.jpg" class="center" style="width:100%;height:300px;">
      <div class="carousel-caption" style="color:black;">
        <h1 >고객 센터</h1>
      </div>

    </div>
  </div>

  </div>
  </div>
  <!-- End of Carousel Section -->


<!-- 클라이언트/파트너/취소및환불 -->
<div class="container-fluid padding2 text-center" >

<h5>  <a class="heada" href="client_faq" >클라이언트</a><div class="divider2"></div>
  <a class="heada" href="partner_faq">파트너</a><div class="divider2"></div>
  <a class="heada" href="#" style="color:#f8ba00;border-bottom:4px solid #f8ba00;padding-bottom:3px;">취소 및 환불 </a></h5>
</div>

<hr style="width:100%;">

<!-- 내용 -->
<div class="container-fluid padding2 text-left" style="padding-left:8%;padding-right:8%;">
  <br><br>

<div>
  <h5 style="color:#f8ba00;">가.업무 진행 전 규정</h5>
  <div>업무 급여 지급이 이루어진 후 업무 진행 전일 경우 해제 통보 시점에 관한 다음 가이드라인에 따라 클라이언트 혹은 파트너 양측 중 업무 계약을 해제하는 측에서 요금을 부담합니다.</div>
</div>
<div class="linespace"></div>

<div>
  <h5 style="color:#f8ba00;">[클라이언트 측 해제시 환불 가이드라인]</h5>
  <div>1. 업무일 21일 전 계약 해제: 업무 급여 전액 환불. <br>
      2. 업무일 14일 전 계약 해제: 업무 급여에서 트렉스 수수료 공제 후 환불.<br>
      3. 업무일 7일 전 계약 해제: 업무 급여에서 파트너 급여의 15%와 트렉스 수수료 공제 후 환불.<br>
      4. 업무일 7일 이내 계약 해제: 업무 급여에서 파트너 급여의 25%와 트렉스 수수료 공제 후 환불.<br>
      5. 업무일 24간 이내 계약 해제: 업무 급여에서 파트너 급여의 50%와 트렉스 수수료 공제 후 환불.<br>
      6. 해제 통보 시점과 무관하게 양측의 협의가 된 파트너의 추가 교통 및 숙박비는 클라이언트가 부담.</div>
</div>
<div class="linespace"></div>

<div>
  <h5 style="color:#f8ba00;">[파트너 측 해제시 환불 가이드라인]</h5>
  <div>1. 업무일 21일 전 계약 해제: 업무 급여 전액을 클라이언트에게 환불. 파트너 부담 없음.<br>
      2. 업무일 14일 전 계약 해제: 업무 급여에서 트렉스 수수료를 파트너가 부담.<br>
      3. 업무일 7일 전 계약 해제: 업무 급여에서 파트너 급여의 15%와 트렉스 수수료를 파트너가 부담.<br>
      4. 업무일 7일 이내 계약 해제: 업무 급여에서 파트너 급여의 25%와 트렉스 수수료를 파트너가 부담.<br>
      5. 업무일 24간 이내 계약 해제: 업무 급여에서 파트너 급여의 50%와 트렉스 수수료를 파트너가 부담.<br>
      6. 해제 통보 시점과 무관하게 클라이언트가 만족하는 대체 근무자가 생길시 파트너 부담 없음.</div>
</div>
<div class="linespace"></div>

<div>
  <h5 style="color:#f8ba00;">나. 업무 진행 후 규정</h5>
</div>
<div class="linespace"></div>

<div>
  <h5 style="color:#f8ba00;">[파트너 책임 사유]</h5>
  <div>1. 파트너의 귀책사유로 당초 계약했던 서비스 미이행 혹은 보편적인 관점에서 심각하게 잘못 이행한 경우 트렉스 안전결제를 통해 결제 금액 전체 환불이 가능합니다.</div>
</div>
<div class="linespace"></div>

<div>
  <h5 style="color:#f8ba00;">[클라이언트 책임 사유]</h5>
  <div>1. 업무 진행 중 클라이언트의 폭언, 욕설 등이 있을 경우 작업은 종료될 수 있으며 트렉스 안전 결제를 통해 환불이 제한될 수 있습니다.<br>
      2. 통역이 시작되면 단순 변심 또는 클라이언트 책임 사유로 인한 트렉스 안전결제를 통해 전액 환불이 불가능합니다.</div>
</div>
<div class="linespace"></div>

<div>
  <h5 style="color:#f8ba00;">[트렉스 안전결제란?]</h5>
  <div>업무 급여를 결제시 바로 파트너에게 급여가 지급되는것이 아니라 트렉스 파이낸스팀에서 보류한 뒤, 업무가 끝나면 트렉스 파트너팀과 업무 내용을 검수 한뒤 급여를 지급 또는 환불 해 드립니다.</div>
</div>
<div class="linespace"></div>


</div>


<!-- /내용 -->
<!-- 도움이 더 필요 하신가요? -->
<br>
<hr style="width:100%;">
<br>
<div class="container-fluid padding2 text-center">
도움이 더 필요 하신가요?<div class="divider2"><a href="https://accounts.kakao.com/login?continue=http%3A%2F%2Fpf.kakao.com%2F_dCzvj%2Fchat" target="_blank"></div><button type="button" name="button" style="background-color:#ffe812;border:#ffe812;border-radius: 4px; height:37px;"><b>카카오톡</b>에서 <b>트렉스</b> 친구추가 하세요. <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 256 256"><path fill="#FFE812" d="M256 236c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20V20C0 8.954 8.954 0 20 0h216c11.046 0 20 8.954 20 20v216z"/><path d="M128 36C70.562 36 24 72.713 24 118c0 29.279 19.466 54.97 48.748 69.477-1.593 5.494-10.237 35.344-10.581 37.689 0 0-.207 1.762.934 2.434s2.483.15 2.483.15c3.272-.457 37.943-24.811 43.944-29.04 5.995.849 12.168 1.29 18.472 1.29 57.438 0 104-36.712 104-82 0-45.287-46.562-82-104-82z"/><path fill="#FFE812" d="M70.5 146.625c-3.309 0-6-2.57-6-5.73V105.25h-9.362c-3.247 0-5.888-2.636-5.888-5.875s2.642-5.875 5.888-5.875h30.724c3.247 0 5.888 2.636 5.888 5.875s-2.642 5.875-5.888 5.875H76.5v35.645c0 3.16-2.691 5.73-6 5.73zM123.112 146.547c-2.502 0-4.416-1.016-4.993-2.65l-2.971-7.778-18.296-.001-2.973 7.783c-.575 1.631-2.488 2.646-4.99 2.646a9.155 9.155 0 0 1-3.814-.828c-1.654-.763-3.244-2.861-1.422-8.52l14.352-37.776c1.011-2.873 4.082-5.833 7.99-5.922 3.919.088 6.99 3.049 8.003 5.928l14.346 37.759c1.826 5.672.236 7.771-1.418 8.532a9.176 9.176 0 0 1-3.814.827c-.001 0 0 0 0 0zm-11.119-21.056L106 108.466l-5.993 17.025h11.986zM138 145.75c-3.171 0-5.75-2.468-5.75-5.5V99.5c0-3.309 2.748-6 6.125-6s6.125 2.691 6.125 6v35.25h12.75c3.171 0 5.75 2.468 5.75 5.5s-2.579 5.5-5.75 5.5H138zM171.334 146.547c-3.309 0-6-2.691-6-6V99.5c0-3.309 2.691-6 6-6s6 2.691 6 6v12.896l16.74-16.74c.861-.861 2.044-1.335 3.328-1.335 1.498 0 3.002.646 4.129 1.772 1.051 1.05 1.678 2.401 1.764 3.804.087 1.415-.384 2.712-1.324 3.653l-13.673 13.671 14.769 19.566a5.951 5.951 0 0 1 1.152 4.445 5.956 5.956 0 0 1-2.328 3.957 5.94 5.94 0 0 1-3.609 1.211 5.953 5.953 0 0 1-4.793-2.385l-14.071-18.644-2.082 2.082v13.091a6.01 6.01 0 0 1-6.002 6.003z"/></svg></button>
</div></a>
<!-- /도움이 더 필요 하신가요? -->


<!-- 피드백이 있으신가요? -->
<div class="container-fluid padding2 text-center">
피드백이 있으신가요?<div class="divider2"></div> <b>info@trexservice.com</b>
</div>
<br><br>
<!-- /피드백이 있으신가요? -->
<% include ./partials/footer %>
</body>
</html>
