<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>트렉스 - 로그인하기</title>
  </head>
  <body>
    <div class="content-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="heading-section col-md-12 text-center">
                        <h2>긱풀에 오신걸 환영합니다</h2>
                    </div> <!-- /.heading-section -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item" id="service-1">
                            <img src="">

                            </img> <!-- /.service-icon -->
                            <p>현지 업무에 도움이 필요합니다.</p>
                            <div class="service-content">
                                <a href="/auth/register/client" class="button">
                                  클라이언트로 가입하기
                                </a>
                            </div> <!-- /.service-content -->
                        </div> <!-- /#service-1 -->
                    </div> <!-- /.col-md-3 -->
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item" id="service-1">
                            <img src="">

                            </img> <!-- /.service-icon -->
                            <p>현지 업무를 돕고 싶습니다!</p>
                            <div class="service-content">
                                <a href="/auth/register/partner" class="button">
                                  파트너로 가입하기
                                </a>
                            </div> <!-- /.service-content -->
                        </div> <!-- /#service-1 -->
                    </div> <!-- /.col-md-3 -->
                     <!-- /.col-md-3 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>

        <span>이미 계정이 있으신가요?
          <a href="" class="member-register-link" id="loginhagi">
            <span style="color:#F9C700;">로그인하기</span>
            <i class="fa fa-long-arrow-right"></i></a></span>
          <br>
  </body>
</html>
