<html>
    <head>
        <meta charset="utf-8">
        <style>
            .btn-primary:hover {
                cursor: pointer;
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);

            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;

            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;

            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;

            }
        </style>

        <title>Member - 트렉스</title>

        <% include ./partials/header %>

    </head>
    <body>

        <link rel="stylesheet" href="/static/stylesheets/viewproficiency.css">
        <div class="pum">
            <div class="pum-container">
                <div class="maincontent">
                    <span class="exittable"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p><span class="nameofpartner"></span>님에게 리뷰 남기기</p>
                    <form id="ratingform">
                        <div class="rating">
                            <input type="radio" name="star" id="star5" value="five"><label for="star5"></label>
                            <input type="radio" name="star" id="star4" value="four"><label for="star4"></label>
                            <input type="radio" name="star" id="star3" value="three"><label for="star3"></label>
                            <input type="radio" name="star" id="star2" value="two"><label for="star2"></label>
                            <input type="radio" name="star" id="star1" value="one"><label for="star1"></label>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea form="ratingform" class="form-control" rows="3" id="comment" name="comment"></textarea>
                        </div>
                        <input type="submit" name="submit" value="확인" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">파트너 업무 예약 관리</p>
                        <div class="menu">
                            <a class="partnerprofileinfo" href="/user_profile/partnerProfile">프로필 관리</a>
                            <a class="taskreservationinfo profileactive" href="/user_profile/tasks">업무 예약 관리</a>
                            <a class="scheduleinfo" href="/user_profile/schedule">일정 관리</a>
                            <% if (currentUser.messageNotification) { %>
                                <i class="fas fa-circle fa-xs" style="color:red;font-size:10px;margin-bottom:3px;"></i>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } else { %>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } %>
                            <a class="paymentinfo" href="/user_profile/payment_info">정산 계좌 등록</a>
                            <a class="accountinfo" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12">
                        <% if (currentUser.profilePic) { %>
                          <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>">
                        <% } else { %>
                          <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                        <p class="userName"><%= currentUser.name %></p>
                    </div>

                    <div class="col-md-8">



                        <!--  업무 예약 관리  -->
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>지정된 업무</b></p>
                                <div class="divider"></div>
                                <div class="appointmentlist">
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>진행중인 업무</b></p>
                                <div class="divider"></div>
                                <div class="appointmentlist2">
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무1</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">정오</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무2</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">병우</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무3</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">승원</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무4</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">승연</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무5</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무6</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무7</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무8</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무9</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무10</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무11</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무12</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent">날짜</p>
                                                <a href="javascript:void(0)">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav aria-label="Page navigation example">
                                  <ul class="pagination">
                                    <li class="prevshow"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                                  </ul>
                                </nav>
                            </div>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>확정된 업무</b></p>
                                <div class="divider"></div>
                            </div>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>완료된 업무</b></p>
                                <div class="divider"></div>
                            </div>
                        </div>



                </div>
            </div>
        </div>


    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>

    <script>
        // Script for file input (profile picture in this case) button and displaying the file name
        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                      input.val(log);
                    } else {
                      if( log ) alert(log);
                    }
                });
            });
        });
    </script>

    <script src="/static/scripts/profileedit.js"></script>

    <% include ./partials/footer %>

    </body>
</html>
