<html>
    <head>
        <meta charset="utf-8">
        <style>
            .btn-primary:hover {
                cursor: pointer;
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);

            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;

            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;

            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;

            }
        </style>

        <title>Member - 트렉스</title>

        <% include ./partials/header %>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    </head>
    <body>

        <% include ./partials/profileedit-businessicon %>

        <link rel="stylesheet" href="/static/stylesheets/ratepum.css">
        <div class="pumrate">
            <div class="pumrate-container">
                <div class="maincontent-rate">
                    <span class="exittable"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p><span class="nameofpartner"></span>님에게 리뷰 남기기</p>
                    <form id="ratingform" method="post">
                        <div class="rating">
                            <input type="radio" name="star" id="star5" value=5><label for="star5"></label>
                            <input type="radio" name="star" id="star4" value=4><label for="star4"></label>
                            <input type="radio" name="star" id="star3" value=3><label for="star3"></label>
                            <input type="radio" name="star" id="star2" value=2><label for="star2"></label>
                            <input type="radio" name="star" id="star1" value=1><label for="star1"></label>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea form="ratingform" class="form-control" rows="3" id="comment" name="comment"></textarea>
                        </div>
                        <input type="hidden" name="unique" value="">
                        <input type="submit" name="submit" value="확인" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <script src="js/jquery.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/combodate.js"></script>

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">계정 관리</p>
                        <div class="menu">
                            <a class="task_request_info" href="/user_profile/task_request_info">견적 요청 관리</a>
                            <a class="applicants_info" href="/user_profile/applicants_info">지원자 보기</a>
                            <a class="task_management profileactive" href="/user_profile/task_management">업무 관리</a>
                            <% if (currentUser.messageNotification) { %>
                                <i class="fas fa-circle fa-xs" style="color:red;font-size:10px;margin-bottom:3px;"></i>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } else { %>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } %>
                            <a class="saved_partners" href="/user_profile/saved_partners">저장된 파트너</a>
                            <a class="accountinfo" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12" style="padding:0% 0% 0% 5.2%;">
                        <div class="backgroundimgClient">
                        </div>

                        <div class="mainimg">
                        <% if (currentUser.companyLogo) { %>
                            <img class="profileimg" src="/logo/<%= currentUser.companyLogo %>">
                        <% } else { %>
                            <img class="profileimg" src="/static/images/nocompanylogo.jpeg">
                        <% } %>
                            <div class="changeslider">
                                사진 바꾸기<br/>
                                <span class="camera"></span>
                            </div>
                        </div>

                        <p class="userName"><%= currentUser.name %></p>
                    </div>

                    <div class="col-md-8">
                        <div class="row sections basic" id="basic">
                            <p class="basictitle"><b>지정된 업무</b></p>
                            <div class="divider"></div>
                        </div>
                        <div class="row sections basic" id="basic">
                            <p class="basictitle"><b>진행중인 업무</b></p>
                            <div class="divider"></div>
                        </div>
                        <div class="row sections basic" id="basic">
                            <p class="basictitle"><b>완료된 업무</b></p>
                            <div class="divider"></div>
                            <div class="appointmentlist2">
                                <% allPartners.forEach((partner) => { %>
                                    <div class="appointmentcard">
                                        <div class="container">
                                            <p class="tasktitle">트랙스 통역업무1</p>
                                            <div class="subcontainer">
                                                <p class="taskcontent"><%= partner.name %></p>
                                                <a href="javascript:void(0)" id="<%= partner._id %>">평점 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                <% });  %>
                            </div>
                            <nav aria-label="Page navigation">
                              <ul class="pagination pagination2">
                                <li class="prevshow"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/scripts/changeimg.js"></script>
        <script src="/static/scripts/profileedit-task.js"></script>

    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "deleteinfo") {
                        var spans = document.getElementById("deleteAccount").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>

    <% include ./partials/footer %>

    </body>
</html>
