@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{

}
h1{
    font-size: 30px;
}
h2{
    font-size: 22px;
}
div{
    font-size: 16px;
}
.padding{
  padding-top: 70px;
  padding-bottom: 70px;
}

/* carousel section */
#carousel-caption-partner{
  color:white;
  padding-bottom:10%;
}
.carousel-inner > .carousel-item > img {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width:100%;
  height:650px;

}
#slider-images{
  height: 600px;
  -o-object-fit: contain;
}
.divider-vertical{
  height:20px;
  width:100%;
}

/* end of carousel section */



/* Jumbotron Section */
.Jumbotron{
  background-color: #e6e6e6;
}

/* End of Jumbotron Section*/

/* 파트너 활동은 어떻게 하나요?*/
.grid-container {
  display: grid;
  grid-gap: 0;
  background-color: transparent;
}

.grid-item {
  background-color: transparent;
  padding: 10px;
}


.item1 {
  grid-column: 1;
  grid-row: 1;
  text-align:center;
  font-size:25px;
  padding-bottom: 0;
}

.item2 {
  grid-column: 2 /span 2;
  grid-row: 1 ;
  text-align: left;
  font-size:20px;
  padding-top:4%;
  padding-bottom:0;
}

.item3 {
  grid-column: 1;
  grid-row: 2 /span 2;
  text-align: center;
  font-size:60px;
  padding-top:0;
  color:#00b3b3;
}
.item4 {
  grid-column: 2 / span 2;
  grid-row: 2 /span 2;
  text-align: left;
  font-size:15px;
  padding-top:5%;

}


.item001 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
  padding-top: 0px;
  margin-top: 0px;

}

.item002 {
  grid-column: 4 /span 2;
  grid-row: 1 ;
  text-align: left;
  color:#999999;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.item003 {
  grid-column: 4 / span 2;
  grid-row: 2;
  text-align: left;
  font-size: 30px;
  font-weight: 800;
  padding-top: 0px;
  margin-top: 0px;
}
.item004 {
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
  text-align: left;
  overflow-wrap: break-word;
  max-width: 330px !important;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 16px;
}
/*/파트너 활동은 어떻게 하나요? */
/* 업무에 지원 해 보세요*/
.card1{
  background-color: #f2f2f2;
  box-shadow: 4px 4px 8px #cccccc;
  text-align: left;
  color:#999999;
  width:responsive;
}
.card1:hover{
  cursor: pointer;
}
.item01 {
  grid-column: 1;
  grid-row: 1;
}

.item02 {
  grid-column: 2 / span 2;
  grid-row: 1;
  font-size: 20px;
  font-weight: 600;
  padding-top: 22px;
  padding-right: 20px;
}

.item03 {
  grid-column: 1;
  grid-row: 2 / span 2;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 0px;

}
.item03 img{
  width:70px;
  height:70px;
}

.item04 {
  grid-column: 2 / span 2;
  grid-row: 2;
  font-size: 16px;
  font-weight: 500;
}

.item05 {
  grid-column: 1 ;
  grid-row: 3;
}

.item06 {
  grid-column: 2 / span 2;
  grid-row: 3 ;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 30px;
}

 #apply_card{
  width:60%;
}
/* /업무에 지원 해 보세요.*/
/* 자주 묻는 질문 &트렉스 파트너의 후기*/
#qlist{
  padding:0;
}
#accordion .card, #accordion {
  background-color:transparent;
  border-left:none;
  border-right:none;
  border-bottom:none;
  border-radius:0;
  padding: 0;
}
#accordion a{
  color:#4d4d4d;
}
#accordion a:hover, #accordion a:after{
  color:#2F3033;
  text-decoration: none;
}
#accordion .card-header{
  background-color:transparent;
}
#accordion .mb-0{
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}
#button1{
  background-color:#f8ba00;
  border:#f8ba00;
  border-radius:5px;
  height:50px;
}
#button1:hover{
  color:white;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #a6a6a6;
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #f58b44;
}

.carousel-inner{
  background-color:transparent;
  box-shadow: 4px 4px 8px #cccccc;
}
.item5 {
  grid-column: 1 ;
  grid-row: 1 ;
  padding-top:25px;
}

.item6 {
  grid-column: 2 / span 2;
  grid-row: 1 ;
}

.item7 {
  grid-column: 1 / span 3;
  grid-row: 2 ;
  padding-left:50px;
  padding-right:50px;
}
/* /자주 묻는 질문 &트렉스 파트너의 후기*/
/*---Media Queries --*/
@media(max-width:1024px){
   #apply_card{
    width:80%;
  }
}

@media (max-width: 768px) {
  #apply_card{
    width:65%;
  }
  .item03{
    padding-left: 40px;
  }
}
@media (max-width: 576px) {
  #carousel-caption-partner{
    color:white;
    padding-bottom:9%;
  }
  #carousel-caption-partner h1{
    font-size:21px;
  }
  #carousel-caption-partner h2{
    font-size:18px;
  }
  .carousel-caption{
    padding-bottom: 10%;
  }

  #slider-images{
    height: 300px;
    -o-object-fit: contain;
  }
  .divider-vertical{
    height:5px;
    width:100%;
  }

  #carousel-caption-partner button{
    height:30px;
    font-size: 15px;
  }

   #apply_card {
    width:100%;
  }
  .item03{
    padding-left: 20px;
  }
  .item03 img{
    width:50px;
    height:50px;
  }
  .item02{
    font-size: 16px;
  }
  .item04{
    font-size: 15px;
  }
  .item06{
    font-size: 13px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item002{
    font-size: 25px;
  }
  .item003{
    font-size: 20px;
  }
  h2{
    font-size: 25px;
    font-weight: 600;
  }
  h4{
    font-size: 20px;
    font-weight: 450;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
