.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.dropbtn {
background-color: #fff;
color: black;

font-size: 14px;
border: 1px solid rgba(0, 0, 0, 0.2);
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: rgba(0.2, 0.3, 0.4, 0.5);
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;

text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.leftside, .rightside{
width: 100%;
height: 300px;
border: 1px solid rgba(0, 0, 0, 0.5);
margin-bottom: 10px;
z-index: 2;
}

#avatar{
border-radius: 50%;
width: 60px;
height: 60px;
background-image: url("static/images/nibbler.jpeg");
background-size: cover;

margin-bottom: 15px;
transform: translate3d(0, -50%, 0);

}

#sliders a{
text-decoration: none;
color:black;
}
#kokoman{
  width: 100%;
  height: 55%;
  background-image: url("../static/images/slider/slider-2-london.jpg");
  background-size: cover;
}

.modal_article{
width: 300px;
height: 300px;
align-items: center;
display: none;
}
.modal-content{
  font-size: 10px;

}

.modal{
  /* z-index: 11; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 100px;
  right: 100px;
  /* justify-content: center;
  align-items: center; */
  display: none;
  /* top: -400px; */
}

.modal-dialog{
display: absolute;
/* justify-content: center; */
left: 15% !important;
top: 5%;
width: 40%;
margin: 0;

}

.row{
text-align: center;
}
.row h7{
color: rgba(0, 0, 0, 0.6)
}

.daterangepicker td.active{
background-color:rgb(0, 166, 153) !important;
}
/* .daterangepicker td .in-range .end-date{
background-color: #236298;
} */

.daterangepicker td.in-range{
background-color: rgb(102, 226, 218);
}


.slide-img h5{
  font-size: 16px;
}

.slide-img h7{
  font-size: 13px;
}



.daterangepicker {
flex-direction: row;
width: 531px !important;
border: 1px solid #e3e3e3;
border-radius: 0px;
}

.ranges {
height: 35px;
display: inline-flex;
flex-direction: row;
padding: 0px;
margin: 4px;
border-bottom: 1px solid #e3e3e3;
}

.ranges ul {
margin: 0px;
padding: 0px;
display: -webkit-box;
font-weight: bold;
}
/*
.ranges li {
padding: 3px 16px !important;
font-size: 12px;
background-color: #ffffff;
color: rgba(13, 37, 50, 0.6);
border-radius: 0;
border: none;
}

.ranges li.active {
background-color: #ffffff;
border-bottom: 2px solid #9fd44e;
color: #9fd44e;
border-top: none;
border-right: none;
border-left: none;
}

.ranges li:hover {
background-color: #ffffff;
border-bottom: 2px solid #9fd44e;
color: #9fd44e;
border-top: none;
border-right: none;
border-left: none;
}
*/
.applyBtn {

/* margin-left: 249px;
height: 75px; */
background-color:#3CA2F0;
border: none;
/* width: 113px; */
border-radius: 0px;
border-left: 1px solid #ffffff;
font-weight: bold;
font-size: 16px;
background-image: url("assets/images/apply-arrow.svg");
background-repeat: no-repeat;
background-position: 45px 51px;
}
#registercontent{
width: 50%;
transform: translate3d(-20%, 10%, 0);
}



.is-active .dropdown-menu {
display: block;
}
