/* 서비스 체크박스 스타일링 */
/* input[type=checkbox] + label{
  display: block;
  margin: 0.2em;
}

#myDropdown input[type=checkbox]{
  display: none;
  opacity: 0;
}

 input[type=checkbox] + label:before{
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  width: 1em;
  display: inline-block;
  height: 1em;
  padding-bottom: 0.5em;
  padding-bottom: 1.3em;
   padding-left: 0.1em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
}

input[type=checkbox]:checked + label:before{
  background-color: MediuSeaGreen;
 } */







#wrapper center{
  height: 40px;
}



@media (max-width: 500px) {
  #roundswitch{
    display: none !important;
  }
  .slider.round{
    display: none;
  }
  #map {
    width: 0% !important;
  }
  #wrapper {
    width: 100% !important;
    padding: 0 !important;
  }
  #momtong {
    margin: 0 4% !important;
  }
  /* .input-group{
    width: 200px !important;
  } */
  #gdo{
    display: none;
  }

  .modal-content{
    width: 200px !important;
    margin-left: 15%;
  }
  .wrapper .col{
    padding: 1%;
  }
  .wrapper .leftside{
    height: 170px;
  }
  .wrapper .rightside{
    height: 170px;
  }
  #kokoman {
    height: 30%;
  }
  #avatar{
    width: 35px !important;
    height: 35px !important;
    margin-bottom: 0 !important;
  }
  .wrapper h5{
    font-size: 8px !important;
    margin-bottom: 0!important;
  }
  .wrapper h7{
    font-size: 8px !important;
  }
  #money{
    display: flex;
  }
  .daterangepicker{
    width: 280px !important;
  }
}

@media (max-width:800px){
  #kokoman {
    height: 30%;
  }
  #avatar{
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 0 !important;
  }
  .wrapper h5{
    font-size: 12px !important;
    margin-bottom: 0!important;
  }
  .wrapper h7{
    font-size: 12px !important;
  }
  .wrapper .col{
    padding: 1%;
  }
  .wrapper .leftside{
    height: 185px;
  }
  .wrapper .rightside{
    height: 185px;
  }
  #momtong{
    margin: 0 5%;
  }
}


#map{
  width: 50%;
  height: 550px;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

 .checkbox input[type="checkbox"] {
     opacity: 0;
 }

 .checkbox label {
     position: relative;
     display: inline-block;

     /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
     padding-left: 22px;
 }

 .checkbox label::before,
 .checkbox label::after {
     position: absolute;
     content: "";

     /*Needed for the line-height to take effect*/
     display: inline-block;
 }

 /*Outer box of the fake checkbox*/
 .checkbox label::before{
     height: 16px;
     width: 16px;
     border: 1px solid rgb(235, 235, 235);;
     left: 0px;

     /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
      *to vertically center it.
      */
     top: 3px;
 }

 /*Checkmark of the fake checkbox*/
 .checkbox label::after {
     height: 5px;
     width: 9px;
     border-left: 2px solid;
     border-bottom: 2px solid;

     transform: rotate(-45deg);

     left: 4px;
     top: 7px;
 }

 /*Hide the checkmark by default*/
 .checkbox input[type="checkbox"] + label::after {
     content: none;
 }

 /*Unhide on the checked state*/
 .checkbox input[type="checkbox"]:checked + label::after {
     content: "";
     color: #fff;
 }
 .checkbox input[type="checkbox"]:checked + label::before {
     background-color: #008489;
 }

 /*Adding focus styles on the outer-box of the fake checkbox*/
 .checkbox input[type="checkbox"]:focus + label::before {
     outline: rgb(59, 153, 252) auto 5px;

 }

.checkbox label:hover {
  cursor: pointer;
}

.checkbox label{
  width: 90%;
}

#myDropdown{
  margin-top: 6px;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.4)
}

#myDropdown2{
  margin-top: 6px;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.4)
}


/*
#myDropdown{
  background-color: #fff;
}
#myDropdown label{
  margin: 5%;
  width: 90%;
}
#myDropdown input[type=checkbox]:checked{

  background-color: #008489;
}
#myDropdown input[type=checkbox] + label:before{
  margin: 5%;
  background-color: #008489;
  padding: 10px;
} */


.switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
}

.switch input {
  /* opacity: 0; */
  /* width: 0;
  height: 0; */
}
.container-fluid{
  padding: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.dropbtn {
background-color: #fff;
color: rgb(72, 72, 72);

font-size: 14px;
border: 1px solid rgba(0, 0, 0, 0.2);
cursor: pointer;
border-radius: 4px;
padding:5px;
padding-left: 7px;
padding-right: 7px;

}

.dropbtn:hover, .dropbtn:focus {
background-color: #E8E8E8;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;

text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.leftside, .rightside{
width: 100%;
height: 150px;
/* border: 1px solid rgba(0, 0, 0, 0.5); */
margin-bottom: 10px;
z-index: 2;

}
#left{
  max-width: 25%;
}



#wrapper .row{
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#avatar{
border-radius: 50%;
width: 60px;
height: 60px;
background-image: url("static/images/nibbler.jpeg");
background-size: cover;
margin: 0;
 position: absolute;
 top: 50%;
 -ms-transform: translateY(-50%);
 transform: translate3d(-50%,-50%,0);

}

#sliders a{
text-decoration: none;
color:black;
}
#kokoman{
  width: 100%;
  height: 35%;
  background-image: url("../static/images/slider/slider-2-london.jpg");
  background-size: cover;
}

.modal_article{
width: 300px;
height: 300px;
align-items: center;
display: none;
}
.modal-content{
  font-size: 10px;
  height: 70%;
}

.modal{
  /* z-index: 11; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 100px;
  right: 100px;
  /* justify-content: center;
  align-items: center; */
  display: none;
  /* top: -400px; */
}

.modal-dialog{
display: absolute;
/* justify-content: center; */
left: 15% !important;
top: 5%;
width: 40%;
margin: 0;

}

#registerModal{
  height: 80%;
  transform: translate3d(0, -20%, 0);
}

.row{
text-align: center;
}
.row h7{
color: rgba(0, 0, 0, 0.6)
}

#moreinfo h6{
  margin-top: 10px;
}

.daterangepicker td.active{
background-color:rgb(0, 166, 153) !important;
}
/* .daterangepicker td .in-range .end-date{
background-color: #236298;
} */

.daterangepicker td.in-range{
background-color: rgb(102, 226, 218);
}


.slide-img h5{
  font-size: 16px;
}

.slide-img h7{
  font-size: 13px;
}



.daterangepicker {
  flex-direction: row;
  width: 520px;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  padding: 15px;
}

.ranges {
height: 35px;
display: inline-flex;
flex-direction: row;
padding: 0px;
margin: 4px;
border-bottom: 1px solid #e3e3e3;
}

.ranges ul {
margin: 0px;
padding: 0px;
display: -webkit-box;
font-weight: bold;
}
/*
.ranges li {
padding: 3px 16px !important;
font-size: 12px;
background-color: #ffffff;
color: rgba(13, 37, 50, 0.6);
border-radius: 0;
border: none;
}

.ranges li.active {
background-color: #ffffff;
border-bottom: 2px solid #9fd44e;
color: #9fd44e;
border-top: none;
border-right: none;
border-left: none;
}

.ranges li:hover {
background-color: #ffffff;
border-bottom: 2px solid #9fd44e;
color: #9fd44e;
border-top: none;
border-right: none;
border-left: none;
}
*/
.applyBtn {

/* margin-left: 249px;
height: 75px; */
background-color:#3CA2F0;
border: none;
/* width: 113px; */
border-radius: 0px;
border-left: 1px solid #ffffff;
font-weight: bold;
font-size: 16px;
background-image: url("assets/images/apply-arrow.svg");
background-repeat: no-repeat;
background-position: 45px 51px;
}
#registercontent{
width: 50%;
transform: translate3d(-60%, 315%, 0);
}



.is-active .dropdown-menu {
display: block;
}
