.flexbox {
    display: flex;
    max-width: 946px;
    margin: auto;
}
.main {
    background: #fff;
    position: relative;
    z-index: 3;
    margin: 0px 44px 0px auto;
    /* max-width: 946px; */
}
.main-raised {
    margin: 60px auto;
    border-radius: 6px;
    box-shadow: 5px 8px 24px -10px rgba(0,0,0,0.4);
    width: 700px;
    height: auto;
}
.main-raised .container {
    padding-bottom: 20px;
}
.main-raised .background {
    /* height: 150px; */
    height: 200px;
    background-color: green;
}
.col-8.ml-auto.mr-auto {
    padding-top: 0;
}
.avatar {
    margin-bottom: 0;
}
.profile {
    text-align: center;
}

.profile .profilpic {
    max-width: 110px;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0, -50%, 0);
    border-radius: 50%;
}
.rounded-circle {
    border-radius: 50% !important;
}

.name {
    margin-top: -50px;
}
.name p {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
}

.startotal {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.stars-outer::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: fontAwesome;
    color: #676d73;
}
.stars-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: fontAwesome;
    color: #f58b44;
}

.onelinedesc {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 600;
}
.profile .row span img {
    margin-right: 5px;
}
.profile .row span:first-child {
    padding-left: 10%;
    width: 50% !important;
    text-align: left;
}
.profile .row span:last-child {
    padding-left: 10%;
    width: 50% !important;
    text-align: left;
}

.reviewsection {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba( 211, 212, 213, 0.5 );
    padding: 20px 10px;
}
.content-left {
    display: flex;
    width: 30%;
}
.content-left .clientpic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content-left .leftparagraphs {
    flex-direction: column;
    padding-top: 10px;
}
.content-left .leftparagraphs p {
    margin-bottom: 0;
}
.content-left .leftparagraphs .author {
    font-size: 16px;
}
.content-left .leftparagraphs .writtendate {
    color: #676d73;
    font-size: 12px;
}
.content-right {
    width: 70%;
    padding-top: 10px;
}
.content-right .rightparagraphs {
    /* flex-direction: column; */
}
.content-right .rightparagraphs p {
    margin-bottom: 0;
}
.fa-star {
    color: #676d73;
}
.fa-star.checked {
    color: #f58b44;
}

.subcol {
    flex: 0 0 294px;
}
.subbox {
    top: 185px;
    position: sticky;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    padding: 5%;
    margin-bottom: 30px;
}
.subbox p {
    font-size: 18px;
    font-weight: 600;
}
.subbox .availablelist {
    display: inline-block;
}
.subbox .availablelist .btn {
    margin: 5px;
    background-color: #559ad1;
}
.subbox .availablelist .btn:hover {
    margin: 5px;
    background-color: rgb(45, 114, 169);
}


.rowdivider {
    padding: 30px 0px;
}
.rowdivider p {
    padding: 0;
}
.col-md-6.ml-auto.mr-auto {
    padding-top: 0;
}
.rowdivider .col-md-4,.col-md-8 {
    text-align: center;
    padding-top: 30px;
}
.rowdivider .description-title,.language-title p {
    font-size: 26px;
    font-weight: 500;
    color: rgb(101, 101, 164);
}
.rowdivider.refund .description-title .divtitle {
    font-size: 22px;
    font-weight: 600;
    color: #2f3033;
}
.rowdivider .divtitle {
    font-size: 22px;
    font-weight: 600;
    color: #2f3033;
}
.rowdivider.refund p {
    font-size: 16px;
    color:  #676d73;
}

.rowdivider img {
    margin: 10px;
}

/* .description-contents .row,.language-contents .row {
    list-style: none;
    font-size: 16px;
    padding: 10px 0;
} */

.readmore,.readless {
    display: none;
}
.readmore.readactive,.readless.readactive {
    display: block;
}
#expand,#collapse {
    color: #f58b44;
}
#expand:hover,#collapse:hover {
    text-decoration: underline;
}


.divider {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

form {
    margin: 0;
}


html.disabled {
    overflow-y: hidden;
}
