.flexbox {
    display: flex;
    max-width: 946px;
    margin: auto;
}
.main {
    background: #fff;
    position: relative;
    z-index: 3;
    margin: 0px 44px 0px auto;
    /* max-width: 946px; */
}
.main-raised {
    margin: 60px auto;
    border-radius: 6px;
    box-shadow: 5px 8px 24px -10px rgba(0,0,0,0.4);
    width: 700px;
    height: auto;
}
.main-raised .background {
    height: 100px;
    background-color: green;
}
.avatar {
    margin-bottom: 0;
}
.profile {
    text-align: center;
}
.profile .profilpic {
    max-width: 110px;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0, -60%, 0);
    border-radius: 50%;
}
.rounded-circle {
    border-radius: 50% !important;
}

.name {
    margin-top: -50px;
}
.name p {
    font-size: 35px;
    font-weight: bold;
}
.onelinedesc {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 600;
}
.profile .row span img {
    margin-right: 5px;
}
.profile .row span:first-child {
    padding-left: 10%;
    width: 50% !important;
    text-align: left;
}
.profile .row span:last-child {
    padding-left: 10%;
    width: 50% !important;
    text-align: left;
}

.subcol {
    flex: 0 0 294px;
}
.subbox {
    top: 185px;
    position: sticky;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    padding: 5%;
}
.subbox p {
    /* padding: 20px 10% 0 10%; */
    font-size: 18px;
    font-weight: 600;
}
.subbox .availablelist {
    display: inline-block;
}
.subbox .availablelist .btn {
    margin: 5px;
}


.rowdivider {
    padding: 30px 0px;
}
.rowdivider p {
    padding: 0;
}
.col-md-6.ml-auto.mr-auto {
    padding-top: 0;
}
.rowdivider .col-md-4,.col-md-8 {
    text-align: center;
    padding-top: 30px;
}
.rowdivider .description-title,.language-title p {
    font-size: 26px;
    font-weight: 500;
    color: rgb(101, 101, 164);
}
.rowdivider.refund .description-title p {
    font-size: 20px;
    font-weight: 400;
}
.rowdivider.refund p {
    font-size: 12px;
}

.rowdivider img {
    margin: 10px;
}

/* .description-contents .row,.language-contents .row {
    list-style: none;
    font-size: 16px;
    padding: 10px 0;
} */

.readmore,.readless {
    display: none;
}
.readmore.readactive,.readless.readactive {
    display: block;
}
#expand,#collapse {
    color: #f8ba00;
}
#expand:hover,#collapse:hover {
    text-decoration: underline;
}


.divider {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

html.disabled {
    overflow-y: hidden;
}
