@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html, body{
    overflow-x: hidden;
}


.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.padding{
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.linespace{
  width:auto;
  height:1px;
  display:inline-block;
}
.heada{
  color:#333333;
}
.heada:hover{
  color:#999999;
  text-decoration: none;
}
/* carousel section */

.carousel-inner > .carousel-item > img {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width:100%;
  height:650px;

}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.divider2{
  width:50px;
  height:auto;
  display:inline-block;
}
.divider3{
    width:10px;
    height:auto;
    display:inline-block;
}
.divider4{
    height:1px;
    display:inline-block;
}
.bottom-right{
  color:white;
  position:absolute;
  bottom:8px;
  right:16px;
}
#caption-carousel{
  padding-bottom:0%;
  text-align: center;
}
#searchbox{
  width:80%;
  padding-left:20%;
}

.form-control2{
 width:25%;
}
#slider-images{
  height: 600px;
  -o-object-fit: contain;
}
/* end of carousel section */



/* 서비스 견적 */
.container2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
}
.centered{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
}
#request-service{
  height: 150px;
  width: 230px;
  -o-object-fit: contain;
}
/* /서비스 견적 */
/* 통역 그 이상의 서비스 */
.font1{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 55px;

  text-shadow: #f8ba00 1px 0 10px;
  text-shadow: 5px 5px #8C8C8C;
}
/* /통역 그 이상의 서비스 */
/* 국가,지역 별 파트너 */
.container3{
  position: relative;
  text-align: center;
  color: white;
  background-color: pink;
}
.container2:hover{
  font-size: 25px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#button2{
  border:none;
  background-color: transparent;
  color:#595959;
  font-size: 25px;
}
#button2:hover{
  color:#f8ba00;
}
#countries{
  height: 300px;
  width: 200px;
  -o-object-fit: contain;
}
/* #button3{
  background-color:#4d4d4d;
  border:#4d4d4d;
  border-radius:5px;
  height:50px;
  color:white;
}
#button3:hover{
  background-color: #f8ba00;
} */
/* /국가,지역 별 파트너 */

/* Accordion Section */

  /* .card:first-of-type:not(:last-of-type) { */
#qlist{
  padding:0;
}
#accordion .card, #accordion {
  background-color:transparent;
  border-left:none;
  border-right:none;
  border-bottom:none;
  border-radius:0;
  padding: 0;
}
#accordion a{
  color:#4d4d4d;
}
#accordion a:hover, #accordion a:after{
  color:black;
  text-decoration: none;
}
#accordion .card-header{
  background-color:transparent;
}
#accordion .mb-0{
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}
#accordion .collapse{
  background-color: #f2f2f2;
}
#button1{
  background-color:#f8ba00;
  border:#f8ba00;
  border-radius:5px;
  height:50px;
}
#button1:hover{
  color:white;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #a6a6a6;
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #f8ba00;
}

.carousel-inner{
  background-color:transparent;
  box-shadow: 4px 4px 8px #cccccc;
}
.grid-container {
  display: grid;
  grid-gap: 0;
  background-color: transparent;
}

.grid-item {
  background-color: transparent;
  padding: 10px;
}
.item4 {
  grid-column: 1 ;
  grid-row: 1 ;
  padding-top:25px;
}

.item5 {
  grid-column: 2 / span 2;
  grid-row: 1 ;
}

.item6 {
  grid-column: 1 / span 3;
  grid-row: 2 ;
  padding-left:50px;
  padding-right:50px;
}
/* End of Accordion Section */

/*footer section*/


.fa-blogger,.fa-linkedin
.fa-facebook-square:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover{
  color: #d5d5d5;
}
#social-media-link{
  color:black;
}
#social-media-link:hover{
  color:#b3b3b3;
}
#social-media-link-footer{
  color:#788387;
}
#social-media-link-footer:hover{
  color:#b3b3b3;
}
#searchbox{
  width:50%;
  margin-left:15%;
}
#footer-menu{
  line-height:28px;
  font-size:15px;
}
/*end of footer section*/
/*---Media Queries --*/
@media (max-width: 1024px) {
  /* carousel section */

  .bottom-right{
    font-size: 25px;
  }
  #caption-carousel h1{
    font-size: 50px;
  }
  #caption-carousel h3{
    font-size: 25px;
  }

  /* end of carousel section */
  #request-service{
    height: 130px;
    width: 200px;
    -o-object-fit: contain;
  }
  }
@media (max-width: 768px) {
  .bottom-right{
    font-size: 20px;
  }
  #caption-carousel h1{
    font-size: 45px;
  }
  #caption-carousel h3{
    font-size: 25px;
  }

  #request-service{
    height: 100px;
    width: 155px;
    -o-object-fit: contain;
  }
  .centered{
    text-align: center;
  }
  .font1{
    font-size:40px;
  }
  #searchbox{
    width:80%;
    padding-left:0%;
  }
  #countries{
    height: 230px;
    width: 150px;
    -o-object-fit: contain;
  }
  #footer-menu{
    line-height:25px;
    font-size:12px;
  }
}
@media (max-width: 576px) {

#caption-carousel h1{
  font-size: 28px;
}
#caption-carousel h3{
  font-size: 18px;
}
#searchbox{
  width:250px;
}
#searchbox input{
  font-size:12px;
}
#slider-images{
  height: 300px;
  -o-object-fit: contain;
}
#heading{
  font-size:23px;
}
#heading2{
  font-size:15px;
}
#countries{
  height: 300px;
  width: 200px;
  -o-object-fit: contain;
}
.divider2{
  width:25px;
  height:auto;
  display:inline-block;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
    text-align:
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
