@import url('http://fonts.googleapis.com/css?family=Nanum+Gothic');


html {
    overflow-x: hidden;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 22px;
}
div{
    font-size: 16px;
}

#btn_outline_orange{
    font-size: 16px;
    color:#f58b44;
    border:1px solid #f58b44;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: transparent;
}
#btn_outline_orange:hover{
    color:#f9b485;
    border:1px solid #f9b485;
}
#btn_orange{
    font-size: 16px;
    background-color:#f58b44;
    color:white;
    border:1px solid #f58b44;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
#btn_orange:hover{
    background-color: #f9b485;
    border:1px solid #f9b485;
}
body {
    font-family: "Nanum Gothic KR", sans-serif;
}
/* html.disabled {
    overflow-y: hidden;
}

#tags1, #tags2 {
    font-family: "Nanum Gothic KR", sans-serif;
}
.searchcountry {
    background-color: #f58b44;
    border-color: #f58b44;
}
.searchcountry:hover {
    background-color: rgb( 215, 109, 38 );
    border-color: rgb( 215, 109, 38 );
}

/* end of thin exit button */
.close1 {
  position: absolute;
  right: 8px;
  top: 11px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close1:hover {
  opacity: 1;
  cursor:pointer;
}
.close1:before, .close1:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close1:before {
  transform: rotate(45deg);
}
.close1:after {
  transform: rotate(-45deg);
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.padding{
  padding-top: 70px;
  padding-bottom: 70px;
}
.padding2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.linespace{
  width:auto;
  height:1px;
  display:inline-block;
}
.heada{
  color:#333333;
  font-size: 22px;
}
.heada:hover{
  color:#999999;
  text-decoration: none;
}
/* carousel section */
#slides{
    background-image:none !important;
   filter:none !important;
   -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.carousel-inner > .carousel-item > img {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width:100%;
  height:650px;
}
#slider-images{
    margin-left: 0 auto;
    margin-right: 0 auto;
    width:100%;
    height:650px;
}
#slider-images-partner-page{
    margin-left: 0 auto;
    margin-right: 0 auto;
    width:100%;
    height:450px;
}
.carousel-indicators li.active {
    background-color: rgb( 245, 139, 68 );
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.divider2{
  width:50px;
  height:auto;
  display:inline-block;
}
.divider3{
    width:10px;
    height:auto;
    display:inline-block;
}
.divider4{
    height:1px;
    display:inline-block;
}

#caption-carousel{
  padding-bottom:0%;
  color:#2F3033;
}
#caption-carousel h1{
    font-size: 40px;
}
#searchbox{
  width:80%;
  padding-left:20%;
}
#search_btn{
    color:#f58b44;
    border:1px solid #f58b44;
    border-radius: 0px 5px 5px 0px;
}
.form-control2{
 width:25%;
}
#slider-images2{
  /* height: 600px; */
  -o-object-fit: contain;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-left: 33%;
  padding-right: 2%;
  filter:none !important;
}
#slider-images3{
  /* height: 600px; */
  -o-object-fit: contain;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 1em;
  padding-left: 20%;
  padding-right: 0%;
  filter:none !important;
}
#slider-images4{
    margin-left: 0 auto;
    margin-right: 0 auto;
    width:100%;
    height:400px;
}


.dropdown-content a {
  color: #2F3033;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}


/* end of carousel section */


/* 서비스 견적 */

.main_carousel{
position: absolute;
top: 40%;
left: 40%;
transform: translate(-50%, -50%);
color:white;
/* font-weight: 200; */
}
.centered{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
font-size: 22px;
}

/* /서비스 견적 */
/* 통역 그 이상의 서비스 */
.font1{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 55px;

  text-shadow: #f8ba00 1px 0 10px;
  text-shadow: 5px 5px #8C8C8C;
}
/* /통역 그 이상의 서비스 */
/* 국가,지역 별 파트너 */
.container3{
  position: relative;
  text-align: center;
  color: white;
  background-color: pink;
}

#button2{
  border:none;
  background-color: transparent;
  color:#595959;
  font-size: 25px;
}
#button2:hover{
  color:#f8ba00;
}
#countries{
  height: 300px;
  width: 200px;
  -o-object-fit: contain;
}

.img-hover-zoom {
  overflow: hidden;
  height: 300px;
  border-radius: 4px;
}

.img-hover-zoom img {
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 4px;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
    border-radius: 4px !important;
}






/* Arrows */

.swiper-button-prev2,
.swiper-button-next2,
.swiper-button-prev3,
.swiper-button-next3 {
  position: absolute;
  top: 40%;
  width: 25px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev2.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled,
.swiper-button-prev3.swiper-button-disabled,
.swiper-button-next3.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;

}

.swiper-button-prev2,
.swiper-container-rtl .swiper-button-next2,
.swiper-button-prev3,
.swiper-container-rtl .swiper-button-next3 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23F58B44'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev2.swiper-button-black,
.swiper-container-rtl .swiper-button-next2.swiper-button-black,
.swiper-button-prev3.swiper-button-black,
.swiper-container-rtl .swiper-button-next3.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23F58B44'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev2.swiper-button-white,
.swiper-container-rtl .swiper-button-next2.swiper-button-white,
.swiper-button-prev3.swiper-button-white,
.swiper-container-rtl .swiper-button-next3.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23F58B44'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next2,
.swiper-container-rtl .swiper-button-prev2,
.swiper-button-next3,
.swiper-container-rtl .swiper-button-prev3 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23F58B44'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next2.swiper-button-black,
.swiper-container-rtl .swiper-button-prev2.swiper-button-black,
.swiper-button-next3.swiper-button-black,
.swiper-container-rtl .swiper-button-prev3.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23F58B44'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next2.swiper-button-white,
.swiper-container-rtl .swiper-button-prev2.swiper-button-white,
.swiper-button-next3.swiper-button-white,
.swiper-container-rtl .swiper-button-prev3.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23F58B44'%2F%3E%3C%2Fsvg%3E");
}
.swiper-pagination-bullet-active {
  background-color:  #F58B44 !important;
}

/* Pagination Styles */

.swiper-pagination2, .swiper-pagination3 {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;

}

.swiper-pagination2.swiper-pagination-hidden,
.swiper-pagination3.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-vertical > .swiper-pagination2,
.swiper-container-vertical > .swiper-pagination3 {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination2 .swiper-pagination-bullet,
.swiper-container-vertical > .swiper-pagination3 .swiper-pagination-bullet  {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination2,
.swiper-container-horizontal > .swiper-pagination3 {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination2 .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination3 .swiper-pagination-bullet {
  margin: 0 5px;
}


/* /국가,지역 별 파트너 */

/* Accordion Section */

  /* .card:first-of-type:not(:last-of-type) { */
#qlist{
  padding:0;
  margin-bottom: 30px;
}
#accordion .card, #accordion {
  background-color:transparent;
  border-left:none;
  border-right:none;
  border-bottom:none;
  border-radius:0;
  padding: 0;
  text-align:left;
}
#accordion a{
  color:#4d4d4d;
  /* font-size: 20px; */
}
#accordion a:hover, #accordion a:after{
  color:#2F3033;
  text-decoration: none;
}
#accordion .card-header{
  background-color:transparent;
  border-bottom:none;
}
#accordion .mb-0{
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}
#accordion .collapse{
  /* background-color: rgba(255, 255, 255, 0.8); */
}
.collapse.show {
    background-color: rgba(255, 255, 255, 0);
}
#button1{
  background-color:#f8ba00;
  border:#f8ba00;
  border-radius:5px;
  height:50px;
}
#button1:hover{
  color:white;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #a6a6a6;
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #f58b44;
}

.carousel-inner{
  background-color:transparent;
  box-shadow: 4px 4px 8px #cccccc;
}
.grid-container {
  display: grid;
  grid-gap: 0;
  background-color: transparent;
  min-height: 260px;
}

.grid-item {
  background-color: transparent;
  padding: 10px;
}
.item4 {
  grid-column: 1 ;
  grid-row: 1 ;
  padding-top:25px;
}

.item5 {
  grid-column: 2 / span 2;
  grid-row: 1 ;
}

.item6 {
  grid-column: 1 / span 3;
  grid-row: 2 ;
  padding-left:50px;
  padding-right:50px;
}
/* End of Accordion Section */

/*footer section*/


.fa-blogger,.fa-linkedin
.fa-facebook-square:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover{
  color: #f58b44;
}
#social-media-link{
  color:#2F3033;
}
#social-media-link:hover{
  color:#f58b44;
}
#social-media-link-footer{
  color:#788387;
}
#social-media-link-footer:hover{
  color:#f58b44;
}
#searchbox{
  width:50%;
  margin-left:15%;
}
#footer-menu{
  line-height:28px;
}
/*end of footer section*/
/*---Media Queries --*/
@media (max-width: 1024px) {
  /* carousel section */

  .bottom-right{
    font-size: 25px;
  }


  /* end of carousel section */

  #slider-images2{
    margin-left: 15%;
    padding-left: 0%;
    padding-right:5%;
    -o-object-fit: contain;
  }
  #slider-images3{
    margin-left: 15%;
    padding-left: 0%;
    padding-right: 0%;
    -o-object-fit: contain;
  }
  #searchbox{
    width:60%;
    margin-left: 9%;
    padding-left: 22%;
  }
  }
@media (max-width: 768px) {
  .bottom-right{
    font-size: 20px;
  }
tered{
    text-align: center;
  }
  .font1{
    font-size:40px;
  }
  #searchbox{
    width:50%;
    padding-left:0%;
    margin-left: 25%;
  }

  #countries{
    height: 230px;
    width: 150px;
    -o-object-fit: contain;
  }
  #footer-menu{
    line-height:25px;
    font-size:12px;
  }
}
@media (max-width: 576px) {
    .main_carousel{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    /* font-weight: 200; */
    }

    #caption-carousel h1{
      font-size: 22px;
    }
    #caption-carousel h2{
      font-size: 16px;
    }
    #searchbox{
        width:65%;
        padding-left:0%;
        padding-right: 0%;
        margin-left: 18%;
        margin-right: 25%;
    }

#searchbox input,#searchbox #search_btn{
  font-size:9px;
}
#slider-images{
  height: 300px;
  -o-object-fit: contain;
}
#slider-images2{
  height: 300px;
  margin-left: 15%;
  padding-left: 0%;
  padding-right:0%;
  -o-object-fit: contain;
  filter: brightness(10000%) !important;
}
#slider-images3{
  height: 300px;
  margin-left: 15%;
  padding-left: 0%;
  padding-right: 0%;
  -o-object-fit: contain;
  filter: brightness(10000%) !important;
}
#slider-images4{
    height: 300px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
#heading{
  font-size:23px;
}
#heading2{
  font-size:15px;
}

#countries{
  height: 300px;
  width: 200px;
  -o-object-fit: contain;
}
.divider2{
  width:25px;
  height:auto;
  display:inline-block;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
    text-align:
}

.lunchbox {
    position: relative;
    background-color: #fafafa;
    height: auto;
    padding: 70px 10px 90px;
}
.lunchbox2 {
    position: relative;
    background-color: transparent;
    height: auto;

}
.lunchbox3 {
    position: relative;
    background-color: #fafafa;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;

}
#services{
    width:300px;
    height:200px;
    object-fit: cover;
}



.qna {
    font-size: 30px;
    color: #2f3033;
}
.collapsed, .card-body {
    font-size: 16px;
}

#button1 {
    font-size: 16px;
    color: white;
    background-color: #559ad1;
}
#button1:hover {
    background-color: rgb( 45, 114, 169 );
}


/* .grid-item.text-center {
    font-size: 16px;
}
.grid-item.text-left {
    line-height: 1;
}
.grid-item.text-left span {
    font-size: 20px;
}
.grid-item.text-left h6 {
    font-size: 16px;
}
.col-md-12.col-lg-7 {
    padding-bottom: 0;
}
.row.text-center {
    padding-bottom: 10px;
}
.grid-container {
    background-color: rgba( 255, 255, 255, 0.5 );
} */


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
